.photogallery {
    display: grid;
    gap: 15px;
    grid-template-columns: 0.7fr repeat(3, 0.1fr);
    grid-template-rows: repeat(2, 217px);
    padding-bottom: var(--offset-xxl);
    // .photogallery__item

    &__item {
        border-radius: 20px;

        &:first-child {
            grid-row: span 2;
        }

        img {
            border-radius: 20px;
        }
    }
}
