.photogallery {
    $this: &;

    @media(max-width: $xxl) {
        @include margin-x(calc(var(--container-padding) * (-1)));
    }

    @media(max-width: $sm) {
        height: 211px;
    }

    .mob-rating {
        top: var(--offset-sm);
        right: 18px;
    }

    &__grid {
        @media(min-width: 1201px) {
            transform: none !important;
            display: grid;
            gap: 15px;
            grid-template-columns: calc(860 / #{$container} * 100%) repeat(3, 1fr);
            grid-template-rows: repeat(2, 217px);
        }
    }

    // .photogallery__item

    &__item {
        position: relative;

        @media(min-width: 1201px) {
            width: 100% !important;
            border-radius: var(--brs-card-xl);
        }

        &:first-child {
            @media(min-width: 1201px) {
                grid-row: span 2;
            }
        }

        img {
            @media(min-width: 1201px) {
                border-radius: var(--brs-card-xl);
            }
        }

        @media (any-hover: hover) {
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }

        @media (any-hover: hover) {
            &:hover {
                #{$this} {
                    &__player-btn {
                        @include show();
                    }
                }
            }
        }
    }

    &__player-btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: grid;
        place-items: center;
        background-image: url(../images/icons/player.svg);
        background-size: var(--section-padding-xs);
        background-position: center;
        background-repeat: no-repeat;

        @media(max-width: $md) {
            background-size: var(--offset-xxxl);
        }

        @media(min-width: 1201px) {
            @include hide();
            transition: var(--transition) all;
        }
    }
}
