.photogallery {
    $this: &;

    display: grid;
    gap: 15px;
    grid-template-columns: calc(860 / #{$container} * 100%) repeat(3, 1fr);
    grid-template-rows: repeat(2, 217px);
    padding-top: var(--offset-l);
    padding-bottom: var(--offset-xxl);
    // .photogallery__item

    &__item {
        position: relative;
        border-radius: 20px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            background-image: url(../images/icons/player.svg);
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            transition: $transition opacity;
        }

        &:first-child {
            grid-row: span 2;
        }

        img {
            border-radius: 20px;
        }

        @media (any-hover: hover) {
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    /* &__player-btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: grid;
        place-items: center;
        background-image: url(../images/icons/player.svg);
        background-size: 80px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: $transition all;
    } */
}
