.blog-card {
    position: relative;
    background-color: var(--white);
    box-shadow: var(--bsh-2);
    border-radius: var(--brs-card);
    border-bottom: 3px solid var(--white);
    transition: var(--transition) border-bottom-color;

    @media (any-hover: hover) {
        &:hover {
            border-bottom-color: var(--green);
        }
    }

    &__date {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--pink);
        color: var(--white);
        padding: var(--offset-s);
        border-radius: 0 var(--brs-card);
        text-align: center;
    }

    &__img {
        position: relative;
        padding-bottom: 63.255%;
        border-radius: var(--brs-card);

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: var(--brs-card);
        }
    }

    // .blog-card__content

    &__content {
        padding: var(--offset-m) var(--offset-l) var(--offset-xl);

        @media(max-width: $ms) {
            padding: var(--offset-m);
        }

        > * {
            &:not(:last-child) {
                margin-bottom: var(--offset-s);
            }
        }
    }

    // .blog-card__title

    &__title {
        font-size: 24px;

        @media(max-width: $sm) {
            font-size: 20px;
        }
    }
}
