.favorite-btn {
	$this: &;

	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--offset-xl);
	height: var(--offset-xl);
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(2px);
	border-radius: var(--brs-xs);

	&__icon {
		stroke: var(--dark);
		transition: var(--transition) stroke, var(--transition) fill;
	}

	@media (any-hover: hover) {
		&:hover {
			#{$this}__icon {
				stroke: var(--pink);
			}
		}
	}

	&.active {
		#{$this}__icon {
			fill: var(--pink);
			stroke: var(--pink);
		}
	}
}
