.btn {
	$this: &;

	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 18px var(--offset-l);
	background-color: var(--pink);
	border-radius: $brs;
	font-family: $ff;
	font-size: #{$fz}px;
	line-height: 1.5;
	color: var(--white);
	text-align: left;
	transition: $transition all;

	&:focus,
	&:active {
		background-color: var(--pink-pressed);
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--pink-hover);
		}
	}

	&.disabled,
	&[disabled] {
		background-color: var(--pink-light);
	}

	&__icon {
		flex-shrink: 0;
		margin-right: var(--offset-xs);
		width: var(--icon-size);
		height: var(--icon-size);
	}

	&__text {
		white-space: nowrap;
		//transition: $transition color;
	}

	&--style {
		&_bg {
			&-green {
				background-color: var(--green);

				&:focus,
				&:active {
					background-color: var(--green-pressed);
				}

				&.disabled,
				&[disabled] {
					background-color: var(--green-light);
				}

				@media (any-hover: hover) {
					&:hover {
						background-color: var(--green-hover);
					}
				}
			}

			&-green-light {
				background-color: var(--green-light);
				color: var(--green);

				&:focus,
				&:active {
					background-color: var(--blue);
					color: var(--green);
				}

				@media (any-hover: hover) {
					&:hover {
						background-color: var(--blue);
						color: var(--green);
					}
				}
			}

			&-yellow {
				background-color: var(--yellow);
				color: var(--black);

				&:focus,
				&:active {
					background-color: var(--yellow-pressed);
				}

				&.disabled,
				&[disabled] {
					background-color: var(--yellow-light);
				}

				@media (any-hover: hover) {
					&:hover {
						background-color: var(--yellow-hover);
					}
				}
			}
		}

		&_link,
		&_link-2,
		&_link-3,
		&_link-4,
		&_link-toggle,
		&_attention,
		&_look {
			padding: 0;
			background-color: transparent;
			border-radius: 0;

			&[disabled] {
				background-color: transparent;
				color: var(--green-disabled);
			}
		}

		&_link,
		&_link-2,
		&_link-toggle {
			position: relative;
			color: var(--green);

			&:focus,
			&:active {
				background-color: transparent;
				color: var(--green-pressed);
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: transparent;
					color: var(--green-hover);
				}
			}
		}

		&_attention {
			#{$this} {
				&__icon {
					margin-right: var(--offset-xxs);

					@media(max-width: $sm) {
						width: 20px;
						height: 20px;
					}
				}

				&__text {
					text-decoration: underline;
					color: var(--red);

					@media(max-width: $sm) {
						font-size: 14px;
					}
				}
			}

			&:focus,
			&:active {
				background-color: transparent;
				color: var(--red);
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: transparent;
					color: var(--red);
				}
			}
		}

		&_link,
		&_link-2,
		&_link-3,
		&_link-4 {
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				height: 1px;
				transition: $transition background-color;
			}
		}

		&_link,
		&_link-2 {
			&::after {
				background-color: var(--green);
			}

			&:focus,
			&:active {
				&::after {
					background-color: var(--green-pressed);
				}
			}

			&[disabled] {
				&::after {
					background-color: var(--green-disabled);
				}
			}

			@media (any-hover: hover) {
				&:hover {
					&::after {
						background-color: var(--green-hover);
					}
				}
			}
		}

		&_link-5 {
			padding: 0;
			justify-content: flex-start;
			background-color: transparent;
			color: var(--green);

			&:focus,
			&:active {
				background-color: transparent;
			}

			&[disabled] {
				color: var(--gray);
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: transparent;
					color: var(--green-hover);
				}
			}
		}

		&_link {
			@extend %museo-700;
			font-size: 20px;

			&::after {
				bottom: -4px;
			}
		}

		&_link-2 {
			@extend %museo-300;

			&:after {
				bottom: 3px;
			}
		}

		&_link-3,
		&_link-4,
		&_look {
			font-family: "Museo Sans Cyrl 300",
				sans-serif;
			font-weight: 300;
		}

		&_look {
			#{$this}__text {
				border-bottom: 1px solid var(--text-color);
			}
		}

		&_link-3,
		&_link-4 {
			position: relative;

			&:after {
				bottom: 3px;
			}

			&:focus,
			&:active {
				background-color: transparent;
			}

			&[disabled] {
				color: var(--gray);
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: transparent;
				}
			}
		}

		&_link-3 {
			color: $color-default;

			&:after {
				background-color: $color-default;
			}

			&:focus,
			&:active {
				#{$this} {
					&__text {
						color: $color-default;
					}
				}
			}

			@media (any-hover: hover) {
				&:hover {
					#{$this} {
						&__text {
							color: var(--pink);
						}
					}

					&:after {
						background-color: var(--pink);
					}
				}
			}
		}

		&_link-4 {
			color: var(--green);

			&:after {
				background-color: var(--green);
			}

			&:focus,
			&:active {
				#{$this} {
					&__text {
						color: var(--green);
					}
				}
			}

			@media (any-hover: hover) {
				&:hover {
					#{$this} {
						&__text {
							color: var(--green);
						}
					}

					&:after {
						background-color: var(--green);
					}
				}
			}
		}

		&_link-toggle {
			span {
				position: relative;
				padding-right: var(--offset-l);

				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: var(--icon-size);
					height: var(--icon-size);
					background-image: url(../images/icons/green-drop.svg);
					transition: $transition transform;
				}
			}

			&[aria-expanded="true"] {
				span {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
		}

		&_look {
			position: relative;
			color: var(--text-color);

			&:focus,
			&:active {
				background-color: transparent;
				color: var(--text-color);
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: transparent;
					color: var(--text-color);
				}
			}
		}
	}
}

.more-text-btn {
	@extend %museo-300;
	font-size: #{$fz}px;
	line-height: 1.5;
	text-decoration: underline;
	transition: $transition color;

	@media (any-hover: hover) {
		&:hover {
			color: var(--green);
		}
	}
}

.btns {
	display: grid;
	gap: var(--offset-m);
	align-items: center;
}

.action-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: var(--offset-xxs);
	transition: $transition background-color;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--gray);
		}
	}
}
