.card-box {
	padding: var(--offset-xl);
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media(max-width: $md) {
		padding: var(--offset-l) var(--offset-m);
	}

	>* {
		&:not(:last-child) {
			margin-bottom: var(--offset-s);
		}
	}

	// .card-box__title

	&__title {
		font-size: 24px;
	}
}

.card {
	background-color: #fff;
	border-radius: $brs-card-xl;
	box-shadow: $bsh;
	border-radius: $brs-card-xl;

	&--style {
		&_bg {
			&-green {
				background-color: var(--green-light);
			}
		}
	}
}
