.catalog-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--offset-xxxl) * (-1));
    margin-left: calc(var(--offset-xxxl) * (-1));

    @media(max-width: $xl) {
        margin-bottom: calc(var(--offset-xls) * (-1));
        margin-left: calc(var(--offset-l) * (-1));
    }

    @media(max-width: $md) {
        margin-left: 0;
    }

    > * {
        margin-bottom: var(--offset-xxxl);
        margin-left: var(--offset-xxxl);
        width: calc(33.3333% - var(--offset-xxxl));

        @media(max-width: $xl) {
            margin-bottom: var(--offset-xls);
            margin-left: var(--offset-l);
            width: calc(50% - var(--offset-l));
        }

        @media(max-width: $md) {
            width: 100%;
            margin-left: 0;
        }
    }
}
