// input number
input[type='number'] {
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
	-moz-appearance: number-input;
}

.input {
	padding: calc(var(--offset-s) - 1px) var(--offset-m);
	border: $border;
	border-radius: $brs;
	filter: drop-shadow(0 0 20px rgba(199, 199, 199, 0.25));
	font-size: 16px;
	line-height: 21px;
	color: var(--black);
	transition: $transition border-color;

	&::placeholder {
		color: var(--line-color);
	}

	&:focus,
	&:active {
		border-color: var(--green);
	}
}

.form {
	@include row-grid(var(--offset-m));

	@media(max-width: $md) {
		padding: var(--offset-l) var(--offset-m) calc(var(--offset-xls) - 2px);
	}

	// .form__field

	&__field {
		@include row-grid(var(--offset-xxxs));
	}

	&-small {
		color: var(--text-color);
	}
}
