.icons-item {
	$this: &;

	display: flex;
	// .icons-item__wrap

	&__content {
		display: flex;
		flex-direction: column;
	}

	// .icons-item__icon

	&__icon {
		margin-right: var(--offset-m);

		&--mr {
			&_xl {
				@media(min-width: 768px) {
					margin-right: var(--offset-xl);
				}
			}
		}
	}

	// .icons-item__title

	&__title {
		margin-bottom: var(--offset-s);
		font-size: 20px;
		transition: $transition color;

		@media(max-width: $md) {
			font-size: 18px;
		}
	}

	// .icons-item__descr

	&__descr {
		color: var(--text-color);
	}

	&__text {
		@extend %museo-300;

		&:not(:last-child) {
			margin-bottom: var(--offset-l);
		}
	}

	&__content {
		ul {
			list-style-type: disc;
			margin-left: var(--offset-m);

			li {
				@extend %museo-300;
				list-style-type: disc;

				&:not(:last-child) {
					margin-bottom: var(--offset-l);
				}
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			a#{$this} {
				&__title {
					color: var(--green);
				}
			}
		}
	}

	&--align-items {
		&_center {
			align-items: center;
		}
	}
}

.icon-circle {
	@include circle;
	font-size: 24px;
	font-style: italic;
	letter-spacing: 0.03em;
	flex-shrink: 0;

	>* {
		position: relative;
		z-index: 2;
	}

	&::before {
		content: '';
		position: absolute;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		z-index: 1;
	}

	&--txt {
		&_xs {
			font-size: 16px;
			font-style: normal;
		}
	}

	&--position {
		&_top {
			&-left {
				&:before {
					top: 15px;
					left: 15px;
				}
			}

			&-right {
				&:before {
					top: 15px;
					right: 15px;
				}
			}
		}

		&_bottom {
			&-left {
				&:before {
					bottom: 15px;
					left: 15px;
				}
			}

			&-right {
				&:before {
					right: 15px;
					bottom: 15px;
				}
			}
		}
	}

	&--style {
		&_bg {
			&-pink {
				&::before {
					background-color: var(--pink-light);
				}
			}

			&-yellow {
				&::before {
					background-color: var(--yellow-light);
				}
			}

			&-green {
				&::before {
					background-color: var(--green-light);
				}
			}

			&-blue {
				&:before {
					background-color: var(--blue);
				}
			}
		}
	}
}
