.leader {
	$this: &;

	display: flex;
	flex-wrap: wrap;
	margin-left: calc(var(--offset-m) * (-1));

	&__item {
		margin-left: var(--offset-m);
		margin-bottom: var(--offset-xxxs);
		display: flex;

		@media(max-width: $sm) {
			font-size: 14px;
		}

		&:first-child:last-child {
			margin-left: 0;
			margin-bottom: 0;
		}

		dt {
			@extend %museo-300;
			margin-right: var(--offset-xxxs);
		}

		dd {
			span {
				color: var(--text-color);
			}
		}
	}

	&--item {
		&_space-between {
			#{$this}__item {
				justify-content: space-between;
			}
		}
	}

	&--orientation {
		&_col {
			@include row-grid(var(--offset-xs));
			margin-left: 0;

			#{$this}__item {
				margin-bottom: 0;
				margin-left: 0;
			}
		}
	}
}
