.leader {
	$this: &;

	display: flex;
	flex-wrap: wrap;
	gap: var(--offset-xxs) var(--offset-m);

	&__item {
		display: flex;

		@media(max-width: $sm) {
			font-size: 14px;
		}

		dt {
			@extend %museo-300;
			margin-right: var(--offset-xxxs);
			color: var(--text-color-light);
			transition: var(--transition) color;
		}

		dd {
			span {
				color: var(--text-color);
				transition: var(--transition) color;
			}

            b,
            time {
                font-weight: 600;
            }
		}
	}

	&--item {
		&_space-between {
			#{$this}__item {
				justify-content: space-between;
			}
		}
	}

	&--orientation {
		&_col {
			flex-direction: column;
			gap: var(--offset-xs);
		}
	}
}
