.prices {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: flex-end;
    column-gap: 7px;
    white-space: nowrap;

    b {
        line-height: 1.2;
    }

    span {
        font-size: 18px;
    }
}

.price {
    @extend %museo-700;
    font-size: 24px;

    &-old {
        padding-left: 5px;
        font-size: 20px;
        color: var(--text-color);

        & + span {
            color: var(--text-color);
            font-weight: 300;
        }
    }
}
