.tabs-block {
	&__title {
		@extend %museo-300;
		margin-bottom: var(--offset-s);
		color: #000;
	}
}

.tabs {
	display: flex;
	margin-bottom: var(--offset-xxxl);
	overflow-x: auto;

	@media(max-width: $md) {
		margin-bottom: var(--offset-l);
	}

	&::-webkit-scrollbar {
		width: 0;
		-webkit-appearance: none;
		scrollbar-width: 0;
	}
}

.tab {
	padding: var(--offset-xxs) var(--offset-m);
	background-color: #F5F8F8;
	color: $color-default;
	border-radius: $brs;
	font-size: 16px;
	line-height: 1.5;
	white-space: nowrap;
	margin-right: var(--offset-s);
	transition: $transition all;

	&.active {
		background-color: var(--green);
		color: #fff;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--green);
			color: #fff;
		}
	}
}
