.tabs-block {
    &__title {
        @extend %museo-300;
        margin-bottom: var(--offset-s);
        color: #000;
    }
}

.tabs-content {
    display: none;

    &.touch-visible {
        @media(max-width: $lg) {
            display: block;
        }
    }
}

.tabs {
    display: flex;
    margin-bottom: var(--offset-xxxl);
    overflow-x: auto;

    @media(max-width: $md) {
        margin-bottom: var(--offset-l);
    }

    &::-webkit-scrollbar {
        width: 0;
        -webkit-appearance: none;
        scrollbar-width: none;
        /* background-color: var(--green);
        scrollbar-width: thin;
        scrollbar-color: var(--green); */
    }

    &__list {
        display: flex;
        overflow-x: auto;

        /* &::-webkit-scrollbar {
            width: 0;
            -webkit-appearance: none;
            scrollbar-width: 0;
        } */

        &--items {
            &_2 {
                > * {
                    @media(max-width: $lg) {
                        width: 50%;
                    }
                }
            }
        }
    }

    &--style {
        &_line {
            padding-bottom: 0;
            border-bottom: 2px solid var(--green);

            .tabs__list {
                width: 100%;
            }
        }
    }

    &--items {
        &_2 {
            > * {
                width: 50%;
            }
        }

        &_3 {
            > * {
                @media(min-width: 768px) {
                    width: 33.3333%;
                }
            }
        }
    }
}

.tab {
    $this: &;

    padding: var(--offset-xxs) var(--offset-m);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F8F8;
    color: $color-default;
    border-radius: $brs;
    font-size: 16px;
    line-height: 1.5;
    white-space: nowrap;
    margin-right: var(--offset-s);
    transition: $transition all;

    &__circle {
        position: relative;
        flex-shrink: 0;
        width: var(--icon-size);
        height: var(--icon-size);
        margin-right: var(--offset-m);
        transition: $transition box-shadow;

        @media(max-width: $sm) {
            margin-right: var(--offset-xs);
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:before {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid var(--text-color);
            transition: $transition border-color;
        }

        &:after {
            width: var(--offset-xs);
            height: var(--offset-xs);
            border-radius: 50%;
            background-color: #fff;
            opacity: 0;
            transition: $transition opacity;
        }
    }

    &.active {
        background-color: var(--green);
        color: #fff;

        #{$this} {
            &__circle {
                &:before {
                    border-color: #fff;
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--green);
            color: #fff;
        }
    }

    &--style {
        &_2 {
            @extend %museo-300;
            margin-right: 0;
            padding: 18px;
            width: 100%;
            background-color: transparent;
            border-bottom: 2px solid var(--line-color);
            border-radius: 0;

            &.active {
                @extend %museo-500;
                background-color: transparent;
                border-bottom-color: var(--green);
                color: var(--green);
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: transparent;
                    border-bottom-color: var(--green);
                    color: var(--green);
                }
            }
        }

        &_radio {
            margin-right: 0;
            border-radius: $brs-card-xl $brs-card-xl 0 0;
            background-color: transparent;
            //box-shadow: 0 -15px 30px rgba(0, 0, 0, 0.08);
            padding: 25px;
            color: var(--text-color);

            @media(max-width: $sm) {
                padding: var(--offset-s);
            }

            @media(max-width: $lg) {
                width: 100%;
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: transparent;
                    color: var(--green);

                    #{$this} {
                        &__circle {
                            &:before {
                                border-color: var(--green);
                            }
                        }
                    }
                }
            }

            &.active {
                @extend %museo-700;
                color: #fff;
                background-color: var(--green);

                #{$this} {
                    &__circle {
                        &:before {
                            border-color: #fff;
                        }

                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.js-certificate-tab {
    @media(min-width: 1025px) {
        min-width: 360px;
    }
}
