h {

	&1,
	&2,
	&3,
	&4,
	&5,
	&6 {
		font-family: 'Museo Sans Cyrl 500',
			sans-serif;
		font-weight: 500;
	}

	&1 {
		font-size: 44px;
		line-height: calc(53 / 44);

		@media(max-width: $md) {
			font-size: 40px;
			line-height: 48px;
		}
	}
}
