.establishment-about {

	&__row {
		@media(max-width: $xxl) {
			grid-template-columns: calc(100vw - var(--container-padding) * 2);
			@include row-grid(var(--offset-xls));
		}
	}

	// .establishment-about__content

	&__content {
		@include row-grid(28px);
	}

	// .establishment-about__list

	&__list {
		@include row-grid(22px);
	}
}

.establishment-gallery,
.establishment-gallery-thumbs {
	width: 100%;
	height: max-content;

	@media(min-width: 1201px) {
		max-width: 687px;
	}
}

.establishment-gallery {
	@media(min-width: 1201px) {
		margin-bottom: 14px;
	}

	.swiper-slide {
		position: relative;
		padding-bottom: 68.415%;

		@media(max-width: $md) {
			padding-bottom: 61.225%;
		}

		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: var(--brs-card-xl);
		}
	}
}

.establishment-gallery-thumbs {
	display: none;

	@media(min-width: 1201px) {
		display: block;
	}

	.swiper-slide {
		cursor: pointer;
		height: 180px;

		img {
			border-radius: var(--brs);
		}
	}
}
