.search-form {
    position: relative;
    //width: 296px;

    @media(max-width: $ms) {
        //width: auto;
        transition: var(--transition) all;
    }

    &.active {
        @media(max-width: $ms) {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 11;
            margin-left: 0;
            width: 100%;
            height: var(--header-height-mob);
            background-color: var(--white);
        }
    }

    &__input {
        width: var(--offset-xl);
        padding: 0;
        transition: var(--transition) all;
        @include hide();

        @media(max-width: $ms) {
            height: 100%;
            border: none;
        }


        &.active {
            width: 100%;
            padding: var(--offset-s) calc(var(--offset-m) * 3) var(--offset-s) var(--offset-m);
            @include show();
        }
    }

    // .search-form__btn

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(var(--offset-m) - var(--offset-xxs));
        padding: var(--offset-xxs);
        display: inline-flex;
        align-items: center;
        border-radius: 50%;
        font-size: 24px;
        transition: var(--transition) background-color;

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--gray);
            }
        }

        &-icon {
            stroke: var(--dark);
        }
    }
}
