.close-btn {
    display: inline-flex;
    align-items: center;
    padding: var(--offset-xxxs);
    border-radius: 50%;
    padding: var(--offset-xxxs);
    transition: var(--transition) background-color;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--gray);
        }
    }
}

.pc-hidden {
    @media(min-width: 1201px) {
        display: none;
    }
}
