.combo-result-item {
    display: flex;
    align-items: center;
    grid-area: combo;
    align-self: stretch;

    @media(max-width: $ms) {
        width: 100%;
    }

    @media(min-width: $md) {
        flex-direction: column;
    }

    // .combo-result-item__img

    &__img {
        @media(min-width: $md) {
            flex-grow: 1;
            max-height: 174px;
        }

        @media(max-width: $ms) {
            flex-shrink: 0;
            margin-right: 6px;
            width: 90px;
            height: 72px;
        }
    }

    &__content {
        margin-top: auto;
        @include row-grid(var(--offset-s));

        @media(min-width: $md) {
            justify-items: center;
            text-align: center;
        }

        @media(max-width: $ms) {
            align-items: stretch;
        }
    }

    // .combo-result-item__title

    &__title {
        font-size: 24px;
        text-transform: uppercase;

        @media(max-width: $ms) {
            font-size: 20px;
            text-transform: none;
        }
    }

    // .combo-result-item__text

    &__text {
        display: none;

        @media(min-width: $md) {
            display: block;
            margin-bottom: var(--offset-xxs);
            font-size: 16px;
            color: var(--text-color);
        }
    }
}
