.color-card-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--offset-l) * (-1));

    @media(min-width: $xl) {
        margin-left: calc(var(--offset-l) * (-1));
    }

    @media(min-width: $xxxl) {
        margin-left: calc(var(--offset-xxxl) * (-1));
    }

    > * {
        margin-bottom: var(--offset-l);

        @media(min-width: $xl) {
            margin-left: var(--offset-l);
            width: calc(50% - var(--offset-l));
        }

        @media(min-width: $xxxl) {
            margin-left: var(--offset-xxxl);
            width: calc(50% - var(--offset-xxxl));
        }
    }

    &--items {
        &_3 {
            > * {
                @media(min-width: 1441px) {
                    margin-left: var(--offset-xxxl);
                    width: calc(33.3333% - var(--offset-xxxl));
                }

                .color-card {
                    &__img {
                        @media(min-width: $md) {
                            margin-right: var(--offset-xl);
                        }
                    }
                }
            }
        }
    }
}
