.catalog-sort {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: var(--offset-l);
	padding-bottom: var(--offset-ls);

	@media(min-width: $xxxl) {
		padding-top: 54px;
	}

	&__select {
		.select {
			&__title {
				padding-left: 0;
				gap: var(--offset-xxs);

				&::after {
					display: none;
				}
			}

			&__content {
				width: max-content;
			}
		}
	}
}
