.pay-card {
    @include row-grid(20px);
    justify-items: center;
    padding: var(--offset-xl) var(--offset-m);
    background-color: var(--white);
    border-radius: $brs-card-xl;
    box-shadow: $bsh;
    text-align: center;

    @media(max-width: $md) {
        padding: var(--offset-m);
    }

    // .pay-card__img

    &__img {
        height: 56px;
        margin-bottom: var(--offset-xxxs);
    }

    // .pay-card__title

    &__title {
        font-size: 20px;

        @media(max-width: $sm) {
            max-width: 198px;
        }
    }
}
