body {
	min-width: 320px;
	font-style: normal;
	font-family: var(--main-font);
	font-size: var(--font-size);
	line-height: 1.5;
	font-weight: 500;
	color: var(--color-default);
	overflow-x: hidden;

	&.sticky {
		overflow-x: visible;

		@media(max-width: $lg) {
			overflow-x: hidden;
		}

		.wrapper {
			overflow-x: visible;

			@media(max-width: $lg) {
				overflow-x: hidden;
			}
		}
	}

	&._lock {
		overflow-y: hidden;
	}
}

address {
	font-style: normal;
}

button,
input,
textarea {
	font-family: var(--main-font);
}

dl,
dt,
dd {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border: none;

	table & {
		max-width: none;
	}
}

p {
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
	color: var(--text-color);

	.menu-link {
		@extend %museo-500;
	}

	&.default-color {
		color: var(--color-default);
	}
}

fieldset {
	margin: 0;
	border: none;
}
