.container {
    width: calc(var(--container-width) + var(--container-padding) * 2);
    max-width: 100%;
    @include padding-x(var(--container-padding));
    margin: 0 auto;

    &--without-padding {
        @media(max-width: $lg) {
            @include padding-x(0);
        }
    }

    &--small {
        width: var(--container-width_xs);
    }
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.text-block {
    p {
        &:not(:last-child) {
            margin-bottom: var(--offset-m);
        }
    }
}

.color-default {
    color: $color-default;
}

.color-green {
    color: var(--green);
}

.row {
    @include grid-auto-fit(350px, var(--offset-xxxl));

    @media(max-width: $xl) {
        gap: var(--offset-l);
    }

    @media(max-width: $md) {
        grid-template-columns: repeat(auto-fit, minmax(calc(320px - var(--container-padding) * 2)), 1fr);
    }

    &--cols {
        &_2 {
            @media(max-width: $lg) {
                grid-template-columns: unset;
            }

            @media(max-width: $sm) {
                gap: var(--offset-m);
            }
        }
    }

    &--gap {
        &_xls {
            @media(max-width: $xl) {
                gap: var(--offset-xls);
            }
        }

        &_xl {
            gap: var(--offset-xl);

            @media(max-width: $md) {
                gap: var(--offset-m);
            }
        }
    }

    &--row-gap {
        &_xl {
            row-gap: var(--offset-xl);

            @media(max-width: $md) {
                row-gap: var(--offset-m);
            }
        }

        &_xls {
            row-gap: var(--offset-xls);

            @media(max-width: $md) {
                row-gap: var(--offset-l);
            }
        }
    }
}

.grid-row {
    @media(min-width: 1201px) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--offset-xxxl);
    }

    &--cols {
        &_2 {
            @media(min-width: 1201px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    &--align-items {
        &_center {
            align-items: center;
        }

        &_flex-end {
            align-items: flex-end;
        }
    }
}

.grid-col {
    &-5 {
        @media(min-width: 1201px) {
            grid-column: span 5;
        }
    }

    &-6 {
        @media(min-width: 1201px) {
            grid-column: span 6;
        }
    }

    &-7 {
        @media(min-width: 1201px) {
            grid-column: span 7;
        }

        @media(max-width: $xl) {
            grid-column: 1 / -1;
        }
    }
}
