.container {
	width: calc(var(--container-width) + var(--container-padding) * 2);
	max-width: 100%;
	@include padding-x(var(--container-padding));
	margin: 0 auto;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

.page {
	position: relative;
	flex: 1 0 auto; // Footer at bottom

	&__top {
		margin-bottom: var(--section-padding);
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media(max-width: $sm) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}

		.select {
			@media(max-width: $sm) {
				margin-top: var(--offset-xxs);
			}

			&__title {
				@media(max-width: $sm) {
					padding-left: 0;
				}
			}
		}

		@media(max-width: $lg) {
			margin-bottom: var(--offset-xxl);
		}

		&--orientation {
			&_column {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}
		}

		&--mb {
			&_s {
				margin-bottom: var(--offset-s);

				@media(max-width: $sm) {
					margin-bottom: var(--offset-xxxs);
				}
			}

			&_m {
				margin-bottom: var(--offset-m);
			}

			&_l {
				margin-bottom: var(--offset-l);
			}

			&_ls {
				margin-bottom: var(--offset-ls);

				@media(max-width: $sm) {
					margin-bottom: var(--offset-l);
				}
			}
		}
	}

	&--padding {
		@include padding-y(var(--section-padding));

		@media(max-width: $lg) {
			@include padding-y(var(--offset-xxl));
		}

		&-top {
			&_ls {
				padding-top: var(--offset-ls);

				@media(max-width: $sm) {
					padding-top: var(--offset-l);
				}

				@media(max-width: $lg) {
					padding-bottom: var(--offset-xxxl);
				}
			}
		}

		&-bottom {
			&_xs {
				padding-bottom: var(--offset-xxxl);
			}

			&_xl {
				padding-bottom: var(--section-padding-xl);

				@media(max-width: $lg) {
					padding-bottom: var(--offset-xls);
				}
			}

			&_none {
				padding-bottom: 0;
			}
		}
	}

	&__title {
		&--mb {
			&_xs {
				&:not(:last-child) {
					margin-bottom: var(--offset-s);

					@media(max-width: $sm) {
						margin-bottom: var(--offset-xxxs);
					}
				}
			}

			&_m {
				&:not(:last-child) {
					margin-bottom: var(--offset-m);
				}
			}
		}
	}

	&__top-text {
		max-width: 603px;

		&--size {
			&_xl {
				@extend %museo-500;
				max-width: 623px;
				font-size: 20px;
			}
		}

		&:not(:last-child) {
			margin-bottom: var(--offset-ls);

			@media(max-width: $sm) {
				margin-bottom: var(--offset-l);
			}
		}
	}

	&__top-btn {
		@include padding-x(var(--offset-l));
	}

	&--with {
		&_decor {
			&::before {
				content: '';
				position: absolute;
				top: -283px;
				right: calc(var(--offset-xs) * (-1));
				z-index: -1;
				width: var(--page-decor-w);
				height: var(--page-decor-h);
				background-image: url(../images/decor/page-top-decor.svg);
				background-position: center;
				//background-size: contain;
				background-repeat: no-repeat;

				@media(max-width: $lg) {
					top: -95px;
					right: -38px;
					width: 260px;
					height: 263px;
					background-image: url(../images/decor/page-top-decor-mob.svg);
				}
			}
		}
	}
}

.section {
	padding-bottom: var(--section-padding);

	@media(max-width: $lg) {
		padding-bottom: var(--offset-xxxl);
	}

	&--padding {
		&_xs {
			padding-bottom: var(--section-padding-xs);
		}

		&_xl {
			padding-bottom: var(--section-padding-xl);
		}

		/* &_xxl {
            padding-bottom: var(--section-padding-xxl);

            @media(max-width: $lg) {
                padding-bottom: var(--offset-xxxl);
            }
        } */
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: var(--offset-xl);

		@media(max-width: $md) {
			margin-bottom: var(--offset-l);
		}

		.section-title {
			margin-bottom: 0;

			@media(max-width: $md) {
				margin-bottom: 0;
			}
		}
	}

	&-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media(max-width: $lg) {
			flex-direction: column;
			justify-content: flex-start;
		}

		&--reverse {
			@media(min-width: 1025px) {
				flex-direction: row-reverse;
			}
		}

		&_50-50 {
			@media(min-width: 1025px) {
				@include margin-x(calc(var(--offset-l) * (-1)));
			}

			>* {
				@media(min-width: 1025px) {
					width: calc(50% - var(--offset-l));
					@include padding-x(var(--offset-l));
				}
			}
		}
	}
}

.text-block {
	p {
		&:not(:last-child) {
			margin-bottom: var(--offset-m);
		}
	}
}

.color-default {
	color: $color-default;
}

.row {
	@include grid-auto-fit(350px, var(--offset-xxl));

	@media(max-width: $xl) {
		gap: var(--offset-l);
	}

	@media(max-width: $md) {
		grid-template-columns: repeat(auto-fit, minmax(calc(320px - var(--container-padding) * 2)), 1fr);
	}

	&--cols {
		&_2 {
			@media(max-width: $lg) {
				grid-template-columns: unset;
			}

			@media(max-width: $sm) {
				gap: var(--offset-m);
			}
		}
	}

	&--gap {
		&_xls {
			@media(max-width: $xl) {
				gap: var(--offset-xls);
			}
		}

		&_m {
			@media(max-width: $sm) {
				gap: var(--offset-m);
			}
		}
	}
}

.catalog-grid {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: calc(var(--offset-xxxl) * (-1));
	margin-left: calc(var(--offset-xxxl) * (-1));

	@media(max-width: $xl) {
		margin-bottom: calc(var(--offset-xls) * (-1));
		margin-left: calc(var(--offset-l) * (-1));
	}

	@media(max-width: $md) {
		margin-left: 0;
	}

	>* {
		margin-bottom: var(--offset-xxxl);
		margin-left: var(--offset-xxxl);
		width: calc(33.3333% - var(--offset-xxxl));

		@media(max-width: $xl) {
			margin-bottom: var(--offset-xls);
			margin-left: var(--offset-l);
			width: calc(50% - var(--offset-l));
		}

		@media(max-width: $md) {
			width: 100%;
			margin-left: 0;
		}
	}
}

.color-card {
	display: flex;
	align-items: center;
	padding: var(--offset-l) var(--offset-l) var(--offset-l) 0;
	border-radius: $brs-card-xl;

	@media(max-width: $md) {
		padding: var(--offset-m) var(--offset-m) var(--offset-m) 0;
	}

	&__img {
		flex-shrink: 0;
		margin-right: var(--offset-xxxl);
		display: flex;
		align-items: center;
		width: 122px;
		height: 125px;

		@media(max-width: $md) {
			margin-right: var(--offset-m);
			width: 75px;
			height: 102px;
		}
	}

	&__content {
		>* {
			&:not(:last-child) {
				margin-bottom: var(--offset-s);

				@media(max-width: $sm) {
					margin-bottom: var(--offset-xxxs);
				}
			}
		}
	}

	&__title {
		@extend %museo-700;
		font-size: 24px;

		@media(max-width: $md) {
			font-size: 18px;
		}
	}

	&--style {
		&_bg {
			&-pink {
				background: var(--pink-gradient);
			}

			&-green {
				background: var(--green-gradient);
			}

			&-yellow {
				background: var(--yellow-gradient);
			}
		}
	}
}

.grid-row {
	@media(min-width: 1201px) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--offset-xxxl);
	}

	&--pb {
		padding-bottom: 27px;
	}
}

.grid-col {
	&-7 {
		@media(min-width: 1201px) {
			grid-column: span 7;
		}

		@media(max-width: $xl) {
			grid-column: 1 / -1;
		}
	}

	&-5 {
		@media(min-width: 1201px) {
			grid-column: span 5;
		}

		&.tablet-none {
			@media(max-width: $xl) {
				display: none;
			}
		}
	}

	&-6 {
		@media(min-width: 1201px) {
			grid-column: span 6;
		}
	}
}
