.page {
    position: relative;
    flex: 1 0 auto; // Footer at bottom

    &__top {
        margin-bottom: var(--section-padding);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: $sm) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .select {
            @media(max-width: $sm) {
                margin-top: var(--offset-xxs);
            }

            &__title {
                @media(max-width: $sm) {
                    padding-left: 0;
                }
            }
        }

        @media(max-width: $lg) {
            margin-bottom: var(--offset-xxl);
        }

        &--orientation {
            &_column {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }

        &--mb {
            &_s {
                margin-bottom: var(--offset-s);

                @media(max-width: $sm) {
                    margin-bottom: var(--offset-xxxs);
                }
            }

            &_m {
                margin-bottom: var(--offset-m);
            }

            &_l {
                margin-bottom: var(--offset-l);
            }

            &_ls {
                margin-bottom: var(--offset-ls);

                @media(max-width: $sm) {
                    margin-bottom: var(--offset-l);
                }
            }
        }
    }

    &--padding {
        @include padding-y(var(--section-padding));

        @media(max-width: $lg) {
            @include padding-y(var(--offset-xxl));
        }

        &-top {
            &_ls {
                padding-top: var(--offset-ls);

                @media(max-width: $lg) {
                    padding-bottom: var(--offset-xxxl);
                }

                @media(max-width: $sm) {
                    padding-top: var(--offset-l);
                }
            }

            &_xxl {
                padding-top: var(--section-padding-xxl);

                @media(max-width: $lg) {
                    padding-top: var(--offset-xxxl);
                }
            }
        }

        &-bottom {
            &_xs {
                padding-bottom: var(--offset-xxxl);
            }

            &_xl {
                padding-bottom: var(--section-padding-xl);

                /* @media(max-width: $lg) {
					padding-bottom: var(--offset-xls);
				} */
            }

            &_none {
                padding-bottom: 0;
            }
        }
    }

    &__title {
        &--mb {
            &_xs {
                &:not(:last-child) {
                    margin-bottom: var(--offset-s);

                    @media(max-width: $sm) {
                        margin-bottom: var(--offset-xxxs);
                    }
                }
            }

            &_m {
                &:not(:last-child) {
                    margin-bottom: var(--offset-m);
                }
            }
        }
    }

    &__top-text {
        max-width: 603px;

        &--size {
            &_xl {
                @extend %museo-500;
                max-width: 623px;
                font-size: 20px;
            }
        }

        &:not(:last-child) {
            margin-bottom: var(--offset-ls);

            @media(max-width: $sm) {
                margin-bottom: var(--offset-l);
            }
        }
    }

    &__top-btn {
        @include padding-x(var(--offset-l));
    }

    &--with {
        &_decor {
            &::before {
                content: '';
                position: absolute;
                top: -283px;
                right: calc(var(--offset-xs) * (-1));
                z-index: -1;
                width: var(--page-decor-w);
                height: var(--page-decor-h);
                background-image: url(../images/decor/page-top-decor.svg);
                background-position: center;
                background-repeat: no-repeat;

                @media(max-width: $lg) {
                    top: -95px;
                    right: -38px;
                    width: 260px;
                    height: 263px;
                    background-image: url(../images/decor/page-top-decor-mob.svg);
                }
            }
        }
    }
}