.breadcrumbs {
	$this: &;

	padding-bottom: var(--offset-xxs);

	@media(max-width: $sm) {
		padding-bottom: var(--offset-xxxs);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: var(--offset-s);

		@media(max-width: $sm) {
			gap: var(--offset-xxxs);
		}
	}

	&__item {
		position: relative;

		@media(max-width: $sm) {
			font-size: 14px;
			line-height: 21px;
		}

		a {
			transition: $transition color;

			@media (any-hover: hover) {
				&:hover {
					color: var(--green);
				}
			}
		}

		&:not(:last-child) {
			>* {
				padding-right: calc(var(--offset-s) + var(--icon-size));

				@media(max-width: $sm) {
					padding-right: calc(var(--offset-xxxs) + var(--icon-size));
				}

				&::after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					width: var(--icon-size);
					height: var(--icon-size);
					background-image: url(../images/icons/crumb-arrow.svg);
				}
			}
		}
	}
}
