.ordered-tape-section {
	// .ordered-tape-section__item

	&__items {
		@media(min-width: $xl) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: var(--offset-xxxl);
		}
	}

	&__item {
		@media(max-width: $lg) {
			width: 312px;
			opacity: 0.5;
			transition: var(--transition) opacity;
		}

		@media(max-width: $sm) {
			width: 290px;
		}

		&.swiper-slide-active {
			@media(max-width: $lg) {
				opacity: 1;
			}
		}

		&.swiper-slide-next {
			@media(min-width: $md) and (max-width: $lg) {
				opacity: 1;
			}
		}

		&:not(:last-child) {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 28px;
				left: 74px;
				right: -42px;
				height: 2px;
				background-image: url(../images/decor/dashed-line.svg);

				@media(max-width: $sm) {
					right: -2px;
				}
			}
		}

		@media(max-width: $lg) {
			margin-right: var(--offset-l);
		}

		@media(max-width: $sm) {
			min-width: 290px;
			margin-right: var(--offset-s);
		}
	}
}

.tape-item {
	// .ordered-tape-section__item-num

	&__num {
		@extend %museo-700;
		font-size: 24px;
		margin-bottom: var(--offset-m);
	}

	// .ordered-tape-section__item-title

	&__title {
		&:not(:last-child) {
			margin-bottom: var(--offset-s);
		}

		&--style {
			&_bold {
				@extend %museo-700;
				font-size: 24px;

				@media(max-width: $sm) {
					font-size: 20px;
				}
			}
		}
	}
}
