.catalog-card {
	$this: &;

	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	height: 100%;

	.slider-btn {
		@media(max-width: $md) {
			display: none;
		}
	}

	&__favorite {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;

		@media(max-width: $sm) {
			top: var(--offset-s);
			right: var(--offset-s);
		}
	}

	&__img {
		display: none;
	}

	// .catalog-card__slider

	&__slider {
		position: relative;
		z-index: -1;
		width: 100%;
		height: 280px;

		@media(max-width: $sm) {
			height: 240px;
		}

		.swiper-slide {
			border-radius: var(--brs);

			img {
				border-radius: var(--brs);
			}
		}

		.swiper-horizontal>.swiper-pagination-bullets,
		.swiper-pagination-bullets.swiper-pagination-horizontal {
			display: flex;
			justify-content: center;
			bottom: var(--offset-xs);
		}

		.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
		.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
			position: relative;
			width: var(--offset-s);
			height: var(--offset-s);
			border-radius: 50%;
			background-color: transparent;
			opacity: 1;
			margin: 0;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: #fff;
				transition: var(--transition) background-color;
			}

			@media (any-hover: hover) {
				&:hover {
					&::before {
						background-color: var(--pink);
					}
				}
			}

			&-active {
				&::before {
					background-color: var(--pink);
				}
			}
		}

		.slider-btn {
			@include hide();
		}

		@media (any-hover: hover) {
			&:hover {
				.slider-btn {
					@include show();
				}
			}
		}
	}

	&__content {
		padding-top: var(--offset-m);
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	// .catalog-card__title

	&__title {
		margin-bottom: var(--offset-s);
		font-size: 24px;
		flex-grow: 1;

		@media(max-width: $sm) {
			font-size: 20px;
			margin-bottom: var(--offset-xxs);
		}
	}

	// .catalog-card__text

	&__text {
		flex-grow: 1;
		margin-bottom: var(--offset-m);
	}

	// .catalog-card__bottom

	&__bottom {
		@include row-grid(var(--offset-m));

		@media(min-width: 768px) {
			margin-top: auto;
		}
	}

	// .catalog-card__info

	&__info {
		@media(min-width: 576px) {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}

		@media(max-width: $sm) {
			@include row-grid(var(--offset-m));
		}
	}

	// .catalog-card__rating

	&__rating {
		align-items: flex-start;
		margin: calc(var(--offset-xxs) * (-1));

		>* {
			margin: var(--offset-xxs);
		}
	}

	// .catalog-card__btns

	&__btns {
		grid-template-columns: repeat(2, 1fr);
	}

	&__btn {
		@include padding-x(var(--offset-xs));
		justify-content: center;
	}

	&--type {
		&_combo {
			@media(max-width: $md) {
				display: grid;
				grid-template-columns: 80px 1fr;
				gap: var(--offset-s);
			}

			#{$this} {
				&__slider {
					height: 200px;

					@media(max-width: $md) {
						display: none;
					}
				}

				&__img {
					@media(max-width: $md) {
						flex-shrink: 0;
						display: block;
						height: 66px;

						img {
							border-radius: var(--brs);
						}
					}
				}

				&__title {
					margin-bottom: 0;
					font-size: 20px;

					@media(max-width: $sm) {
						font-size: 16px;
					}
				}

				&__content {
					@include row-grid(var(--offset-xxs));

					@media(max-width: $md) {
						padding-top: 0;
					}
				}

				&__leader {
					gap: var(--offset-xxs);

					.leader__item {
						&:not(:last-child) {
							font-size: 18px;
						}

						&:last-child {
							span {
								font-size: 14px;
							}
						}
					}
				}

				&__leader,
				&__prices {
					@media(max-width: $md) {
						display: none;
					}
				}
			}
		}
	}
}
