.cart-aside {
    @include row-grid(var(--offset-l));
    padding: var(--offset-xl);
    background-color: var(--white);
    box-shadow: var(--bsh);
    border-radius: var(--brs-card-xl);

    @media(min-width: $xxxl) {
        @include sticky(var(--offset-l));
    }

    @media(max-width: $ms) {
        padding: var(--offset-l) var(--offset-m);
    }

    // .cart-aside__list

    &__list {
        @include row-grid(var(--offset-m));
    }

    // .cart-aside__item

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btn {
        justify-content: center;
    }
}

.agreement {
    a {
        border-bottom: 1px solid var(--text-color);
        transition: var(--transition) border-bottom-color,
            var(--transition) color;

        @media (any-hover: hover) {
            &:hover {
                color: var(--green);
                border-bottom-color: var(--green);
            }
        }
    }
}
