.cart-aside {
    @include sticky(var(--offset-l));
    @include row-grid(var(--offset-l));
    padding: var(--offset-xl);
    background-color: #fff;
    box-shadow: $bsh;
    border-radius: $brs-card-xl;

    @media(max-width: $md) {
        padding: var(--offset-l) var(--offset-m);
    }

    // .cart-aside__list

    &__list {
        @include row-grid(var(--offset-m));
    }

    // .cart-aside__item

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.agreement {
    a {
        border-bottom: 1px solid var(--text-color);
        transition: $transition border-bottom-color,
            $transition color;

        @media (any-hover: hover) {
            &:hover {
                color: var(--green);
                border-bottom-color: var(--green);
            }
        }
    }
}
