// background
%cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

%bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

%bg-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
