%vertical-align {
    display: flex;
    align-items: center;
}

%flex-center {
    @extend %vertical-align;
    justify-content: center;
}

%flex-row {
    display: flex;
    justify-content: space-between;
}

%flex-row-start {
    @extend %flex-row;
    align-items: flex-start;
}

%flex-row-center {
    @extend %flex-row;
    align-items: center;
}

%flex-row-end {
    @extend %flex-row;
    align-items: flex-end;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-col-start {
    @extend %flex-col;
    align-items: flex-start;
}

%flex-col-center {
    @extend %flex-col;
    align-items: center;
}

%flex-col-end {
    @extend %flex-col;
    align-items: flex-end;
}
