%museo-300 {
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
}

%museo-500 {
	font-family: 'Museo Sans Cyrl 500', sans-serif;
	font-weight: 500;
}

%museo-700 {
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	font-weight: 700;
}