.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.28);

    &--menu {
        @media(max-width: $md) {
            top: var(--header-height-mob);
        }

        @media(max-width: $sm) {
            background-color: transparent;
        }
    }
}

.fancybox__container {
    --fancybox-bg: rgba(0, 0, 0, 0.28);

    .popup {
        @media (max-width: $sm) {
            display: flex !important;
            flex-direction: column;
            justify-content: flex-end;
            gap: var(--offset-s);
            background-color: transparent;
            padding: var(--offset-s);

            &__body {
                padding: var(--offset-l) var(--offset-m);
                background-color: var(--white);
                box-shadow: $bsh;
                border-radius: $brs-card;
                overflow-y: auto;
            }
        }

        &__form {
            row-gap: var(--offset-s);
        }

        &__btn {
            @media (max-width: $sm) {
                margin-top: 0;
            }
        }

        &__close {
            @media (max-width: $sm) {
                position: static;
                align-self: center;
                width: 63px;
                height: 32px;
                background-image: url(../images/icons/fancybox-close-arrow.svg);
    
                svg {
                    display: none;
                }
            }
        }
    }
}

.popup {
    $this: &;

    display: none;
    position: absolute;
    z-index: 102;
    width: 470px;
    background-color: var(--white);
    box-shadow: $bsh;
    padding: var(--offset-xl) var(--offset-xxl) var(--offset-xxl);

    @media(min-width: 768px) {
        top: var(--offset-xxl);
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: $brs-card-xl;
    }

    @media(min-width: 1025px) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:not(#{$this}--width_auto) {
        @media(max-width: $md) {
            top: 0;
            left: 0;
            height: 100%;
            overflow-y: auto;
        }
    }

    @media(max-width: $sm) {
        width: 100%;
        padding: var(--offset-xxl) 20px;
    }

    &__close {
        position: absolute;
        top: var(--offset-s);
        right: var(--offset-s);
    }

    // .popup__tabs

    &__tabs {
        margin-bottom: var(--offset-m);

        .tabs {
            margin-bottom: 0;
        }
    }

    &__tab {
        font-size: 20px;
    }

    &__top {
        margin-bottom: var(--offset-m);

        @media (max-width: $sm) {
            margin-bottom: var(--offset-s);
        }
    }

    &__title {
        font-size: 20px;

        &--l {
            font-size: 32px;
            
            @media (max-width: $sm) {
                font-size: 28px;
            }
        }

        &--center {
            text-align: center;
        }

        @media(max-width: $sm) {
            text-align: center;
        }
    }

    &__items {
        @include row-grid(var(--offset-l));
    }

    // .popup__form

    &__form {
        @include row-grid(var(--offset-m));

        &-btn {
            @include padding-y(14px);
        }
    }

    &__add-btn {
        justify-self: start;
        justify-content: flex-start;
    }

    &__btns {
        margin-top: var(--offset-m);
        grid-template-columns: repeat(2, 1fr);
        gap: var(--offset-s);

        @media(max-width: $sm) {
            gap: var(--offset-xxs);
        }

        .popup__btn {
            margin-top: 0;
            padding: var(--offset-s) var(--offset-l);
            line-height: 1.25;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: var(--offset-l);

        &--center {
            @media (min-width: 768px) {
                @include margin-x(auto);
            }
        }
    }

    &--width {

        &_auto,
        &_xl {
            padding: var(--offset-l);
            border-radius: $brs;

            @media(min-width: 768px) {
                border-radius: $brs;
            }

            #{$this} {
                &__close {
                    top: 6px;
                    right: 6px;
                }
            }
        }

        &_auto {
            width: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media(max-width: $sm) {
                left: var(--container-padding);
                right: var(--container-padding);
                transform: translate(0, -50%);
            }
        }

        &_xl {
            width: 548px;

            @media(max-width: $md) {
                width: 100%;
                border-radius: 0;
            }
        }

        &_xxl {
            padding: var(--offset-xxxl) var(--offset-xls);
            width: 700px;

            @media(max-width: $md) {
                width: 100%;
            }
        }
    }
}

.congratulations-popup {
    left: 0;
    top: 0;
    z-index: 100;
    width: 682px;
    height: 560px;
    padding: var(--offset-l);
    border-radius: $brs;
    overflow-y: auto;

    @media(max-width: $md) {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    &::-webkit-scrollbar {
        width: 0;
        -webkit-appearance: none;
        scrollbar-width: 0;
    }

    @media(min-width: 768px) {
        transform: none;
    }

    @media(min-width: 1025px) {
        transform: none;
    }

    // .congratulations-popup__body

    &__body {
        display: none;

        @media(min-width: 768px) {
            display: grid;
            grid-template-columns: 234px 1fr;
            gap: var(--offset-m);
        }
    }

    &__mobile {
        display: none;

        @media(max-width: $sm) {
            @include row-grid(var(--offset-m));
        }
    }

    &__tabs {
        @include sticky(0);
    }

    /* &__tabs-content {
        position: absolute;
        top: 0;
        left: calc(234px + var(--offset-m));
    } */
}

.congratulation-item {
    &:not(:first-child) {
        padding-top: var(--offset-s);
    }

    &:not(:last-child) {
        padding-bottom: var(--offset-s);
        border-bottom: 1px solid var(--line-color);
    }

    &.active {
        p {
            color: var(--green);
        }
    }
}

#remove-event {
    @media(max-width: $lg) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media(max-width: $sm) {
        padding: var(--offset-l) var(--offset-m);
        width: calc(100% - var(--container-padding) * 2);
        height: auto;
        border-radius: $brs-card-xl;
        box-shadow: $bsh;
    }
}