// ===================== CHECKBOXES ==================== //
.checkbox {
	$this: &; // .checkbox

	cursor: pointer;
	display: flex;
	align-items: flex-start;

	&__input {
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
		clip: rect(0 0 0 0);

		&:checked {
			&~#{$this} {
				&__style {
					&:before {
						border-color: var(--green);
						background-image: url(../images/icons/check.svg);
					}
				}
			}

			&~#{$this} {
				&__content {
					#{$this} {
						&__title {
							color: var(--green);
						}
					}
				}
			}

			&~#{$this} {
				&__text {
					@extend %museo-500;
					color: var(--green);
				}
			}
		}
	}

	&__style {
		position: relative;
		flex-shrink: 0;
		margin-right: var(--offset-xs);
		width: var(--icon-size);
		height: var(--icon-size);
		border-radius: 2px;

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			right: 2px;
			bottom: 2px;
			left: 2px;
			border: 2px solid var(--line-color);
			border-radius: 2px;
			background-size: cover;
			background-repeat: no-repeat;
			transition: $transition background-color;
		}

		@media (any-hover: hover) {
			&:hover {
				&:before {
					background-color: var(--gray);
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__subtitle {
		@extend %museo-300;
		font-size: 14px;
		color: var(--gray-text);
	}

	&__text {
		@extend %museo-300;
		transition: $transition color;
	}

	//&.error ~ .check-style {}
}
