.catalog-grid {
	--baseWidth: 350px;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--baseWidth), 1fr));
	gap: var(--offset-xxxl);

	@media(max-width: $xxl) {
		gap: var(--offset-xls) var(--offset-l);
	}

	@media(max-width: $ms) {
		grid-template-columns: minmax(calc(320px - var(--container-padding) * 2), 1fr);
	}

	&--style {
		&_xs {
			--baseWidth: 290px;

			@media(min-width: $xxxl) {
				gap: 30px;

				.catalog-card {
					&__slider {
						height: 218px;
					}

					&__title {
						font-size: 20px;
					}

					&__title,
					&__text {
						margin-bottom: var(--offset-xxs);
					}

					&__rating {
						margin-bottom: var(--offset-xxs);
					}

					&__info {
						flex-direction: column;
						align-items: flex-start;
					}

					&__btn {
						@include padding-y(var(--offset-s));

						.btn__icon {
							display: none;
						}
					}

					&__btns {
						gap: var(--offset-s);
					}
				}
			}
		}
	}
}
