.partners-slider {
    height: max-content;
}

.partner-logo {
    width: 150px;
    height: 150px;

    @media(max-width: $sm) {
        width: 100px;
        height: 100px;
    }

    img {
        @media(min-width: 1025px) {
            filter: grayscale(100%);
            transition: $transition filter;
        }

        @media (any-hover: hover) {
            &:hover {
                filter: none;
            }
        }
    }
}
