.partners-slider {
    height: max-content;
}

.partner-logo {
    width: 150px;
    height: 150px;

    @media(max-width: $sm) {
        width: 90px;
        height: 90px;
    }

    img {
        @media(max-width: $md) {
            filter: grayscale(100%);
            transition: $transition filter;
        }
    }

    &.swiper-slide-active {
        img {
            @media(max-width: $md) {
                filter: none;
            }
        }
    }
}
