.partners-slider {
    height: max-content;

    /* @media(max-width: $sm) {
       height: 100px;
    } */
}

.partner-logo {
    width: 150px;
    height: 150px;

    @media(max-width: $sm) {
       width: 100px;
       height: 100px;
    }
}
