.cart {
	--cart-aside: 448;

	display: grid;
	gap: calc(115 / $container * 100%);

	@media(min-width: 1201px) {
		grid-template-columns: 1fr calc(var(--cart-aside) / $container * 100%);
	}

	@media(max-width: $xxl) {
		gap: var(--offset-xxxl);
	}

	&__body {
		@include row-grid(var(--offset-xxxl));
	}

	&__body-inner {
		@include row-grid(var(--offset-xxl));

		@media(max-width: $md) {
			row-gap: calc(var(--offset-xl) + var(--offset-xxxs));
		}
	}

	&__sections {
		display: grid;
		gap: var(--offset-xxxl) 72px;

		@media(min-width: $xxl) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__section {
		&--span-2 {
			@media(min-width: $xxl) {
				grid-column: span 2;
			}
		}
	}
}

.cart-section {
	$this: &;
	// .cart-section__title

	&__title {
		margin-bottom: var(--offset-xl);

		@media(max-width: $sm) {
			margin-bottom: var(--offset-l);
		}
	}

	// .cart-section__fields

	&__fields {
		display: grid;
		gap: var(--offset-m);

		@media(min-width: $xxl) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__inner {
		@include row-grid(var(--offset-l));
	}

	// .cart-section__field

	&__field {
		&--span-2 {
			@media(min-width: $md) {
				grid-column: span 2;
			}

			#{$this} {
				&__radios {
					gap: var(--offset-xxs) var(--offset-m);

					@media(min-width: $md) {
						grid-template-columns: repeat(2, 1fr);
					}

					>* {
						@media(min-width: $md) {
							grid-column: 1 / 2;
						}
					}
				}
			}
		}
	}

	&__radios {
		@include row-grid(var(--offset-m));
	}
}
