.how-to-pay {

    &__subtitle {
        @extend %museo-500;
        margin-bottom: var(--offset-l);
        font-size: 24px;

        @media(max-width: $sm) {
            font-size: 18px;
        }
    }

    // .how-to-pay__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
        gap: 52px;

        /* display: flex;
        flex-wrap: wrap;
        margin-left: -52px;
        margin-bottom: calc(var(--offset-m) * (-1)); */

        /* > * {
            margin-left: 52px;
            margin-bottom: var(--offset-m);
            width: calc(20% - 52px);
            min-width: 245px;
        } */
    }
}
