.how-to-pay {

    &__subtitle {
        @extend %museo-500;
        margin-bottom: var(--offset-l);
        font-size: 24px;

        @media(max-width: $sm) {
            font-size: 18px;
        }
    }

    // .how-to-pay__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
        gap: 52px;

        @media(max-width: $ms) {
            gap: var(--offset-l);
        }
    }
}
