.actions-header {

    // .actions-header__items

    &__items {
        display: flex;
        align-items: center;

        > * {
            margin-left: var(--offset-m);

            @media(max-width: $ms) {
                margin-left: var(--offset-xxs);
            }
        }
    }

    // .actions-header__item

    &__item {
        position: relative;

        > span {
            position: absolute;
            right: 2px;
            bottom: 1px;
            border-radius: 50%;
            padding: 2.05px 5.5px;
            background-color: var(--yellow);
            font-size: 11px;
            line-height: 13px;
        }

        &.mob-hidden {
            @media (max-width: $lg) {
                display: none;
            }
        }
    }

    /* &__search {
        @media(max-width: $ms) {
            margin-right: calc(var(--offset-sm) * (-1));
        }
    } */

    /* &__search {
        width: 296px;

        @media (min-width: 1025px) {
            margin-right: calc(var(--offset-m) * (-1));
        }

        @media(max-width: $ms) {
            margin-right: calc(var(--offset-sm) * (-1));
            width: auto;
        }

        .search-form {
            &__input {
                padding: 0;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;

                @media(max-width: $ms) {
                    height: 100%;
                    border: none;
                }
    
                &.active {
                    padding: 15.5px calc(var(--offset-m) * 3) 17.5px var(--offset-m);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
            }

            &__btn {
                @media (min-width: 1025px) {
                    left: 0;
                    right: auto;
                }
            }
        }

        &.active {
            .search-form__btn {
                @media (min-width: 1025px) {
                    left: auto;
                    right: calc(var(--offset-m) - var(--offset-xxxs));
                }
            }
        }
    } */

    &__btn {
        margin-left: calc(var(--offset-xxxl) - var(--offset-xxs));

        @media(max-width: $xxl) {
            display: none;
        }
    }
}
