.actions-header {

    // .actions-header__items

    &__items {
        display: flex;
        align-items: center;

        > * {
            margin-left: var(--offset-m);

            @media(max-width: $ms) {
                margin-left: var(--offset-xxs);
            }
        }
    }

    // .actions-header__item

    &__item {
        position: relative;

        > span {
            position: absolute;
            right: 2px;
            bottom: 1px;
            border-radius: 50%;
            padding: 2.05px 5.5px;
            background-color: var(--yellow);
            font-size: 11px;
            line-height: 13px;
        }

        &.mob-hidden {
            @media (max-width: $lg) {
                display: none;
            }
        }
    }

    /* &__search {
        @media(max-width: $ms) {
            margin-right: calc(var(--offset-sm) * (-1));
        }
    } */

    &__search {
        .search-form {
            &__input {
                width: var(--offset-xl);
                padding: 0;
                @include hide();

                @media(max-width: $ms) {
                    height: 100%;
                    border: none;
                }
    
                &.active {
                    width: 100%;
                    padding: 15.5px calc(var(--offset-m) * 3) 17.5px var(--offset-m);
                    @include show();
                }
            }

            &__btn {
                @media (min-width: $xl) {
                    right: 0;
                }
            }
        }

        &.active {
            width: 296px;

            @media(max-width: $ms) {
                width: auto;
            }

            .search-form {
                &__btn {
                    @media (min-width: $xl) {
                        right: calc(var(--offset-m) - var(--offset-xxs));
                    }
                }
            }
        }
    }

    &__btn {
        margin-left: calc(var(--offset-xxxl) - var(--offset-xxs));

        @media(max-width: $xxl) {
            display: none;
        }
    }
}
