.check-block {
    position: relative;

    @media(max-width: $lg) {
        padding-bottom: 0;
    }

    @media(min-width: 1025px) {
        padding-bottom: 65px;
    }

    &::before {
        @media(min-width: 1201px) {
            bottom: -50px;
        }
    }

    // .check-block__inner

    &__inner {
        width: calc(1200px + var(--container-padding) * 2);
        display: flex;
        align-items: center;

        @media(max-width: $md) {
            flex-direction: column;
        }
    }

    // .check-block__img

    &__img {
        @media(min-width: 768px) {
            flex: 0 0 380px;
        }
    }

    // .check-block__content

    &__content {
        @media(min-width: 768px) {
            padding-left: var(--offset-m);
        }

        @media(min-width: 1025px) {
            padding-left: var(--offset-xxxl);
        }
    }
}
