.order-card {
    @include row-grid(var(--offset-m));
    background-color: var(--white);
    box-shadow: var(--bsh);
    padding: var(--offset-xl) var(--offset-l);

    @media(max-width: $ms) {
        padding: var(--offset-l) var(--offset-m);
    }

    // .order-card__top

    &__top {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: calc(var(--offset-xs) * (-1));
        margin-left: calc(var(--offset-xs) * (-1));

        > * {
            margin-bottom: var(--offset-xs);
            margin-left: var(--offset-xs);
        }
    }

    // .order-card__title

    &__title {
        @extend %museo-700;
        font-size: 24px;
    }

    // .order-card__date

    &__date {
        margin-right: auto;
        align-self: flex-end;
    }

    // .order-card__row

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: var(--offset-m);
    }

    // .order-card__col

    &__info {
        @include row-grid(var(--offset-m));
        justify-items: start;

        @media(min-width: $md) {
            align-content: start;
            flex-shrink: 0;
        }
    }

    &__list {
        @include row-grid(var(--offset-m));

        @media(max-width: $sm) {
            row-gap: var(--offset-xs);
        }

        .leader__item {
            dt {
                min-width: 123px;
                margin-right: var(--offset-x);
            }
        }
    }

    &__content {
        @include row-grid(var(--offset-s));

        @media(min-width: $md) {
            align-content: start;
            flex: 1 1 29.075%;
        }
    }

    // .order-card__img

    &__img {
        flex: 0 0 215px;

        @media(min-width: $md) {
            margin-left: var(--offset-ls);
        }

        img {
            border-radius: var(--brs);
        }
    }

    // .order-card__subtitle

    &__subtitle {
        @extend %museo-700;
        font-size: 20px;

        @media(max-width: $sm) {
            font-size: 18px;
        }
    }
}
