.filter-btn {
	display: none;
	justify-content: center;
	position: fixed;
	left: var(--container-padding);
	right: var(--container-padding);
	bottom: var(--offset-s);
	z-index: 99;

	@media(max-width: $xxl) {
		display: flex;
	}

	&.hidden {
		@media(max-width: $xxl) {
			@include hide();
		}
	}

	.btn__icon {
		margin-right: var(--offset-x);
	}
}
