.filter-btn {
	display: none;
	justify-content: center;
	position: fixed;
	left: var(--container-padding);
	right: var(--container-padding);
	bottom: var(--offset-s);
	z-index: 99;

	@media(max-width: $xl) {
		display: flex;
	}

	&.hidden {
		@media(max-width: $xl) {
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
		}
	}

	.btn__icon {
		margin-right: 10px;
	}
}
