.search-results-promo {
    padding-top: 78px;
    background-image: url(../images/decor/search-results-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__row {
        display: flex;
        align-items: center;
        //justify-content: center;
        gap: var(--offset-m);

        @media (max-width: $lg) {
            padding-top: var(--offset-xl);
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__box {
        margin-left: calc(203 / $container * 100%);
        padding: var(--offset-s) var(--offset-m);
        position: relative;
        max-width: 420px;
        background-color: var(--white);
        border-radius: var(--brs-xl);
        filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.08));

        @media (max-width: $xl) {
            margin-left: 0;
        }

        &::before {
            content: '';
            position: absolute;
            top: -35px;
            left: -49px;
            width: 79px;
            height: 75px;
            background-image: url(../images/icons/stars.png);

            @media (max-width: $sm) {
                display: none;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 25px;
            right: -25px;
            width: 25px;
            height: 35px;
            background-color: var(--white);
            clip-path: polygon(0% 0%, 100% 50%, 0% 100%);

            @media (max-width: $lg) {
                top: 100%;
                right: auto;
                left: 22px;
                width: 18px;
                height: 18px;
                clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
            }
        }
    }

    &__admin {
        position: relative;
        width: 386px;
        padding-top: var(--offset-xxxs);
        padding-bottom: 67px;
        display: flex;
        justify-content: center;

        @media (max-width: $lg) {
            margin-top: 100px;
        }

        @media (max-width: $sm) {
            margin-top: 0;
            padding: 68px var(--offset-m) 4px;
            width: 245px;
        }

        &::before {
            content: url(../images/decor/iphone-bg.png);
            position: absolute;
            top: -40%;
            left: -169%;

            @media (max-width: $sm) {
                content: url(../images/decor/iphone-bg-mobile.png);
                left: -10px;
                top: -46%;
            }
        }

        >* {
            position: relative;
            z-index: 2;
        }
    }

    &__admin-decor {
        position: absolute;
        right: -212px;
        bottom: 0;

        @media (max-width: $sm) {
            right: -117px;
            width: 138px;
        }
    }
}