.about-certificate {
    @media(min-width: 1201px) {
        &::before {
            top: 400px;
            transform: none;
        }
    }

    // .about-certificate__row

    &__row {
        display: flex;

        @media (max-width: 1400px) {
            flex-wrap: wrap;
        }

        @media(min-width: 768px) {
            @include margin-x(-42px);

            > * {
                padding: var(--offset-xs) 42px;
            }
        }

        @media(max-width: $md) {
            @include row-grid(var(--offset-m));
        }
    }

    // .about-certificate__col

    &__contacts {
        @include row-grid(var(--offset-xxxl));

        @media(min-width: 768px) {
            flex: 0 0 calc((306 + 42 * 2) / #{$container} * 100%);
        }

        @media(min-width: 1025px) {
            align-content: center;
        }

        @media(max-width: $lg) {
            margin-bottom: var(--offset-l);
        }

        @media(max-width: $md) {
            row-gap: var(--offset-m);
        }
    }

    &__map {
        //padding-bottom: 92.175%;

        @media(min-width: 768px) {
            flex: 0 0 calc((460 + 42 * 2) / #{$container} * 100%);
        }

        @media(max-width: $md) {
            padding-bottom: 72.305%;
        }
    }

    &__content {
        @include row-grid(var(--offset-xl));

        @media(max-width: $md) {
            padding-top: var(--offset-xl);
        }
    }
}
