.promo-combo {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	@media(min-width: 1025px) {
		min-height: 450px;
		grid-template-rows: auto 1fr auto;
	}

	@media(max-width: $lg) {
		@include margin-x(calc(var(--container-padding) * (-1)));
		grid-template-columns: repeat(2, 1fr);
	}

	// .promo-combo__img

	&__img {
		@media(max-width: $lg) {
			position: relative;
			padding-bottom: 112.54%;

			img {
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		@media(min-width: 1025px) {
			grid-row: 1 / -1;
		}

		&--left {
			@media(min-width: 1025px) {
				grid-column: 1 / 3;
				border-radius: 0 0 var(--brs-card-xl) var(--brs-card-xl);

				img {
					border-radius: 0 0 var(--brs-card-xl) var(--brs-card-xl);
				}
			}
		}

		&--right {
			@media(min-width: 1025px) {
				grid-column: 3 / -1;
				border-radius: 0 var(--brs-card-xl) var(--brs-card-xl) 0;

				img {
					border-radius: 0 var(--brs-card-xl) var(--brs-card-xl) 0;
				}
			}
		}
	}

	// .promo-combo__title

	&__title {
		display: none;

		@media(min-width: 1025px) {
			display: block;
			padding: 61.5px;
			display: grid;
			place-items: center;
			font-size: 32px;
			line-height: calc(38 / 32 * 100%);
			color: #fff;
		}

		&--style {
			&_bg {
				&-green {
					background-color: var(--green);
				}

				&-blue {
					background-color: var(--dark-blue);
				}
			}
		}

		&--1 {
			@media(min-width: 1025px) {
				grid-column: -2 / -1;
				grid-row: 1 / 2;
				border-radius: 0 var(--brs-card-xl) 0 0;
			}
		}

		&--2 {
			@media(min-width: 1025px) {
				grid-column: 2 / 3;
				grid-row: -2 / -1;
			}
		}
	}

	.mob-rating {
		@media(max-width: $md) {
			top: 20px;
			right: 18px;
		}
	}
}
