.promo-combo {
    $this: &;

    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media(min-width: $xl) {
        grid-template-rows: minmax(160px, max-content) 128px minmax(160px, max-content);
    }

    @media(max-width: $lg) {
        @include margin-x(calc(var(--container-padding) * (-1)));
        grid-template-columns: repeat(2, 1fr);
    }

    // .promo-combo__img

    &__img {
        @media(max-width: $lg) {
            position: relative;
            padding-bottom: 112.54%;

            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        @media(min-width: $xl) {
            grid-row: 1 / -1;
        }

        &--left {
            @media(min-width: $xl) {
                grid-column: 1 / 3;
                border-radius: var(--brs-card-xl) 0 0 var(--brs-card-xl);

                img {
                    border-radius: var(--brs-card-xl) 0 0 var(--brs-card-xl);
                }
            }
        }

        &--right {
            @media(min-width: $xl) {
                grid-column: 3 / -1;
                border-radius: 0 var(--brs-card-xl) var(--brs-card-xl) 0;

                img {
                    border-radius: 0 var(--brs-card-xl) var(--brs-card-xl) 0;
                }
            }
        }

        &--1 {
            display: none;

            @media(min-width: $xl) {
                display: block;
                grid-area: img-1;
                border-radius: var(--brs-card-xl) 0 0 var(--brs-card-xl);

                img {
                    border-radius: var(--brs-card-xl) 0 0 var(--brs-card-xl);
                }
            }
        }

        &--2 {
            grid-area: img-2;
        }

        &--3 {
            grid-area: img-3;
        }

        &--4 {
            display: none;

            @media(min-width: $xl) {
                display: block;
                grid-area: img-4;
                border-bottom-right-radius: var(--brs-card-xl);

                img {
                    border-bottom-right-radius: var(--brs-card-xl);
                }
            }
        }
    }

    // .promo-combo__title

    &__box {
        display: none;
        padding: 30px;
        place-items: center;
        font-size: 15px;
        line-height: calc(18 / 15 * 100%);
        color: var(--white);
        text-align: center;

        @media(min-width: $xl) {
            display: grid;
        }

        @media(min-width: $xxxl) {
            padding: 61.5px;
            font-size: 32px;
            line-height: calc(38 / 32 * 100%);
        }

        &--style {
            &_bg {
                &-green {
                    background-color: var(--green);
                }

                &-blue {
                    background-color: var(--dark-blue);
                }
            }
        }

        &--1 {
            @media(min-width: $xl) {
                grid-column: -2 / -1;
                grid-row: 1 / 2;
                border-radius: 0 var(--brs-card-xl) 0 0;
            }
        }

        &--2 {
            @media(min-width: $xl) {
                grid-column: 2 / 3;
                grid-row: -2 / -1;
            }
        }
    }

    .mob-rating {
        @media(max-width: $ms) {
            top: 20px;
            right: 18px;
        }
    }

    &--set {
        grid-template-rows: repeat(2, minmax(105px, auto));
        grid-template-areas:
        'img-2 img-3'
        'box-2 img-3'
        ;

        @media(max-width: $lg) {
            grid-template-columns: calc(169 / 375 * 100%) 1fr;
        }

        @media(min-width: $xl) {
            grid-template-rows: repeat(2, minmax(224px, auto));
            grid-template-areas:
            'img-1 img-2 img-3 box-1'
            'img-1 box-2 img-3 img-4'
            ;
        }

        #{$this} {
            &__box {
                &--2 {
                    display: grid;
                }
            }

            &__img {
                @media(max-width: $lg) {
                    padding-bottom: 59.54%;
                }
            }
        }
    }
}
