.counter {
    display: grid;
    grid-template-columns: repeat(3, var(--offset-xxl));
    grid-template-rows: var(--offset-xxl);

    @media(max-width: $ms) {
        grid-template-rows: var(--offset-xls);
    }

    // .counter__btn

    &__btn {
        @include grid-center;
        transition: var(--transition) background-color;

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--gray);
            }
        }

        &--minus {
            border-radius: var(--brs) 0 0 var(--brs);
            border: 1px solid var(--line-color);
            border-right: none;
        }

        &--plus {
            border-radius: 0 var(--brs) var(--brs) 0;
            border: 1px solid var(--line-color);
            border-left: none;
        }
    }

    // .counter__input

    &__input {
        border: 1px solid var(--line-color);
        font-family: var(--main-font);
        font-size: var(--font-size);
        color: var(--color-default);
        text-align: center;
    }
}
