.cart-item {
    --img-width-max: 212px;
    --img-width-min: 90px;

    @media(max-width: $lg) {
        --img-width: var(--img-width-max);
    }

    @media(max-width: $md) {
        --img-width: var(--img-width-min);
    }

    @include row-grid(var(--offset-l));
    grid-template-columns: minmax(var(--img-width-min), var(--img-width-max)) var(--offset-xl) 1fr var(--offset-m) calc(287 / 1005 * 100%);
    grid-template-areas: 'img . info . actions'
    '. . dropdown dropdown dropdown'
    ;

    @media(max-width: $lg) {
        column-gap: var(--offset-s);
        grid-template-columns: var(--img-width) 1fr;
        grid-template-areas:
            'img info'
            'actions actions'
            'dropdown dropdown'
        ;
    }

    @media(max-width: $md) {
        row-gap: var(--offset-m);
    }

    // .cart-item__img

    &__img {
        position: relative;
        padding-bottom: 77.36%;
        grid-area: img;
        align-self: start;

        @media(max-width: $md) {
            height: 111px;
            padding-bottom: 0;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: $brs;
        }
    }

    // .cart-item__info

    &__info {
        @include row-grid(var(--offset-xxs));
        grid-area: info;
    }

    // .cart-item__title

    &__title {
        @extend %museo-700;
        font-size: 20px;

        @media(max-width: $sm) {
            font-size: 16px;
        }

        @media(min-width: 1025px) {
            margin-bottom: var(--offset-xxs);
        }
    }

    // .cart-item__info-bottom

    &__info-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: calc(var(--offset-xxs) * (-1));
        margin-left: calc(var(--offset-xxs) * (-1));

        > * {
            margin-bottom: var(--offset-xxs);
            margin-left: var(--offset-xxs);
        }
    }

    // .cart-item__actions

    &__actions {
        display: grid;
        grid-template-areas:
            'trash'
            '.'
            'numbers'
            '.'
            'toggleBtn'
        ;
        grid-area: actions;

        @media(max-width: $lg) {
            row-gap: var(--offset-m);
            grid-template-areas:
                'numbers numbers'
                'toggleBtn trash'
            ;
        }

        @media(min-width: 1025px) {
            grid-template-rows: auto 1fr auto 1fr auto;
            justify-items: end;
        }
    }

    &__trash {
        grid-area: trash;

        @media(max-width: $lg) {
            justify-self: end;
        }
    }

    // .cart-item__numbers

    &__numbers {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: var(--offset-m) var(--offset-xl);
        grid-area: numbers;

        @media(max-width: $lg) {
            justify-content: space-between;
        }
    }

    &__toggle {
        grid-area: toggleBtn;

        @media(max-width: $lg) {
            justify-self: start;
        }
    }

    // .cart-item__dropdown

    &__dropdown {
        display: none;
        grid-area: dropdown;
    }
}
