.establishemnt-address {
    @media(min-width: $xl) {
        background-image: url(../images/decor/contacts-bg.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    @media(max-width: $lg) {
        padding-bottom: 0;
    }

    // .establishemnt-address__inner

    &__inner {
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: var(--offset-xxxl);

        @media(max-width: $lg) {
            grid-template-columns: var(--container-padding) 1fr var(--container-padding);
            gap: var(--offset-l) 0;
        }
    }

    // .establishemnt-address__content

    &__content {
        @include row-grid(var(--offset-l));
        justify-items: start;
        align-content: start;

        @media(max-width: $lg) {
            grid-column: 2 / 3;
        }
    }

    // .establishemnt-address__items

    &__items {
        @include row-grid(var(--offset-m));
    }

    // .establishemnt-address__map

    &__map {
        padding-bottom: 54.795%;

        @media(max-width: $lg) {
            grid-column: 1 / -1;
        }

        @media(max-width: $ms) {
            padding-bottom: 95.467%;
        }
    }
}
