.profile-sidebar {
    @include row-grid(var(--offset-ls));

    @media(min-width: 1201px) {
        @include sticky(var(--offset-xls));
    }

    @media(max-width: $sm) {
        row-gap: var(--offset-m);
    }

    // .profile-sidebar__title

    &__title {
        @extend %museo-700;
        font-size: 24px;
    }
}

.profile-block {
    display: grid;
    gap: 124px;

    @media(min-width: 1201px) {
        grid-template-columns: 312px 1fr;
        align-content: start;
        align-items: start;
    }

    @media(max-width: $xl) {
        grid-auto-rows: max-content;
        row-gap: var(--offset-xxxl);
    }

    @media(max-width: $md) {
        row-gap: var(--offset-l);
    }

    &__content {
        @include row-grid(var(--offset-l));

        @media(max-width: $sm) {
            row-gap: var(--offset-m);
        }
    }

    &__list {
        @include row-grid(var(--offset-l));

        @media(max-width: $sm) {
            row-gap: var(--offset-m);
        }
    }

    &__tabs {
        @media(max-width: $lg) {
            overflow-x: auto;
        }

        .tabs {
            margin-bottom: 0;
        }
    }
}
