.header {
	$this: &;

	// .header__top

	&__top {
		display: none;


		@media(min-width: 1201px) {
			display: block;
			@include padding-y(var(--offset-xs));
			background-color: var(--gray);
		}
	}

	// .header__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .header__bottom

	&__bottom {
		@include padding-y(var(--offset-s));
		background-color: #fff;
		box-shadow: $bsh;

		@media(max-width: $md) {
			display: flex;
			align-items: center;
			height: var(--header-height-mob);
		}
	}

	// .header__logo

	&__logo {
		flex-shrink: 0;
		width: 162px;
		height: 22px;
		margin-left: var(--offset-xxl);
		margin-right: auto;

		@media(max-width: $lg) {
			width: 32px;
			height: 27px;
			margin-left: var(--offset-l);
		}
	}

	// .header__actions

	&__actions {
		display: flex;
		align-items: center;
	}
}

.header-menu {
	// .header-menu__list

	&__list {
		display: flex;
		margin-right: calc(var(--offset-s) * (-1));
	}

	// .header-menu__link

	&__link {
		padding: 0 var(--offset-s);
		white-space: nowrap;
	}
}

.actions-header {

	// .actions-header__items

	&__items {
		display: flex;
		align-items: center;

		>* {
			margin-left: var(--offset-l);

			@media(max-width: $md) {
				margin-left: var(--offset-xs);
			}
		}
	}

	// .actions-header__item

	&__item {
		position: relative;

		>span {
			position: absolute;
			right: -2px;
			bottom: -3px;
			border-radius: 50%;
			padding: 2.05px 5.5px;
			background-color: var(--yellow);
			font-size: 11px;
			line-height: 13px;
		}
	}

	&__search {
		margin-right: calc(var(--offset-m) * (-1));

		@media(max-width: $md) {
			margin-right: -20px;
		}
	}

	&__btn {
		margin-left: calc(var(--offset-xxxl) - var(--offset-xxxs));

		@media(max-width: $xl) {
			display: none;
		}
	}
}
