.header {
    $this: &;

    @media (max-width: $lg) {
        position: relative;
        z-index: 100;
    }

    // .header__top

    &__top {
        display: none;


        @media(min-width: 1201px) {
            display: block;
            @include padding-y(var(--offset-xs));
            background-color: var(--gray);
        }
    }

    // .header__inner

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__bottom

    &__bottom {
        @include padding-y(var(--offset-s));
        background-color: var(--white);
        box-shadow: $bsh;

        @media(max-width: $md) {
            display: flex;
            align-items: center;
            height: var(--header-height-mob);
        }
    }

    // .header__logo

    &__logo {
        flex-shrink: 0;
        width: 162px;
        height: 22px;
        margin-left: var(--offset-xxl);
        margin-right: var(--offset-m);

        @media(max-width: $lg) {
            width: 32px;
            height: 27px;
            margin-left: var(--offset-l);
            margin-right: auto;
        }
    }

    // .header__actions

    &__actions {
        position: relative;
        display: flex;
        align-items: center;

        @media (max-width: $lg) {
            position: static;
        }
    }

    &__actions + &__actions {
        margin-left: auto;

        @media (max-width: $lg) {
            margin-left: calc(var(--offset-s) * (-1));
        }

        @media (max-width: $md) {
            margin-left: 0;
        }
    }
}

.header-menu {

    // .header-menu__list

    &__list {
        display: flex;
        margin-right: calc(var(--offset-s) * (-1));
    }

    // .header-menu__link

    &__link {
        @include padding-x(var(--offset-s));
        white-space: nowrap;
    }
}

.actions-header {

    // .actions-header__items

    &__items {
        display: flex;
        align-items: center;

        > * {
            margin-left: var(--offset-m);

            @media(max-width: $md) {
                margin-left: var(--offset-xxs);
            }
        }
    }

    // .actions-header__item

    &__item {
        position: relative;

        > span {
            right: 2px;
            bottom: 1px;
        }

        &.mob-hidden {
            @media (max-width: $lg) {
                display: none;
            }
        }
    }

    &__search {
        width: 296px;

        @media (min-width: 1025px) {
            margin-right: calc(var(--offset-m) * (-1));
        }

        @media(max-width: $md) {
            margin-right: -20px;
            width: auto;
        }

        .search-form {
            &__input {
                padding: 0;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;

                @media(max-width: $md) {
                    height: 100%;
                    border: none;
                }
    
                &.active {
                    padding: 15.5px calc(var(--offset-m) * 3) 17.5px var(--offset-m);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
            }

            &__btn {
                @media (min-width: 1025px) {
                    left: 0;
                    right: auto;
                }
            }
        }

        &.active {
            .search-form__btn {
                @media (min-width: 1025px) {
                    left: auto;
                    right: calc(var(--offset-m) - var(--offset-xxxs));
                }
            }
        }
    }

    &__btn {
        margin-left: calc(var(--offset-xxxl) - var(--offset-xxxs));

        @media(max-width: $xl) {
            display: none;
        }
    }
}

.count {
    position: absolute;
    border-radius: 50%;
    padding: 2.05px 5.5px;
    background-color: var(--yellow);
    font-size: 11px;
    line-height: 13px;
}
