.admin {
    display: flex;
    align-items: center;

    @media(max-width: $md) {
        @include padding-y(20px);
    }

    // .admin__img

    &__img {
        position: relative;
        flex-shrink: 0;
        margin-right: var(--offset-xl);
        width: 160px;
        height: 160px;

        &::before {
            content: '';
            position: absolute;
            bottom: 15px;
            right: 10px;
            width: 45px;
            height: 33px;
            background-image: url(../images/decor/admin-decor.svg);
            background-size: contain;
            background-repeat: no-repeat;

            @media(max-width: $md) {
                bottom: 5px;
                right: 10px;
                width: 30px;
                height: 21px;
            }
        }

        @media(max-width: $md) {
            width: 105px;
            height: 105px;
            margin-right: var(--offset-m);
        }

        img {
            border-radius: 50%;
        }
    }

    &__name {
        @extend %museo-700;
        font-size: 24px;
    }

    // .admin__contacts

    &__content {
        @include row-grid(var(--offset-xs));

        @media(max-width: $sm) {
            row-gap: 20px;
        }

        .contact {
            color: var(--text-color);
        }
    }
}
