.activate-certificate {
    position: relative;
    z-index: 2;
    // .activate-certificate__row

    &__row {
        display: flex;

        @media(min-width: 1201px) {
            align-items: center;
            justify-content: flex-end;
        }

        @media(max-width: $xl) {
            flex-direction: column;
        }
    }

    // .activate-certificate__img

    &__img {
        @media(min-width: 1201px) {
            margin-left: var(--offset-xls);
        }

        @media(max-width: $xl) {
            align-self: center;
        }
    }

    &__content {
        @media(min-width: 1201px) {
            flex: 0 0 556px;
            margin-left: 125px;
        }
    }
}
