.reviews-metrics {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--offset-m) * (-1));

    @media(min-width: 576px) {
        margin-left: calc(var(--offset-l) * (-1));
    }

    @media(min-width: 1025px) {
        margin-left: calc(var(--offset-xl) * (-1));
    }

    > * {
        margin-bottom: var(--offset-m);
        min-width: 240px;

        @media(min-width: 576px) {
            margin-left: var(--offset-l);
            width: calc(50% - var(--offset-l));
        }

        @media(min-width: 1025px) {
            margin-left: var(--offset-xl);
            width: calc(50% - var(--offset-xl));
        }

        @media(min-width: 1201px) {
            width: calc(33.3333% - var(--offset-xl));
        }
    }
}

.metric-reviews {
    display: flex;
    align-items: center;
    // .metric-reviews__num

    &__num {
        position: relative;
        flex-shrink: 0;
        margin-right: var(--offset-m);
        width: 68px;
        height: 68px;
        border-radius: 50%;
        //border: 1px solid var(--green);
        /* display: grid;
		place-items: center; */

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            box-shadow: $bsh;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @extend %museo-700;
            font-size: 20px;
        }
    }

    // .metric-reviews__content

    &__content {
        @include row-grid(var(--offset-xxxs));
        justify-items: start;
    }

    // .metric-reviews__title

    &__title {
        @extend %museo-700;
        font-size: 20px;
        white-space: nowrap;
    }

    // .metric-reviews__descr

    &__descr {
        @extend %museo-300;
    }
}

$progress-bar-stroke-width: 1;
$progress-bar-size: 68px;

.progress-bar {
    width: $progress-bar-size;
    height: $progress-bar-size;
    transform: rotate(-90deg);

    &__background {
        fill: none;
        stroke: #fff;
        stroke-width: $progress-bar-stroke-width;
    }

    &__progress {
        fill: none;
        stroke: var(--green);
        stroke-dasharray: 100 100;
        stroke-dashoffset: 100;
        stroke-linecap: round;
        stroke-width: $progress-bar-stroke-width;
        transition: stroke-dashoffset 1s ease-in-out;
    }
}
