.reviews-metrics {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: calc(var(--offset-m) * (-1));

	@media(min-width: 576px) {
		margin-left: calc(var(--offset-l) * (-1));
	}

	@media(min-width: 1025px) {
		margin-left: calc(var(--offset-xl) * (-1));
	}

	>* {
		margin-bottom: var(--offset-m);
		min-width: 240px;

		@media(min-width: 576px) {
			margin-left: var(--offset-l);
			width: calc(50% - var(--offset-l));
		}

		@media(min-width: 1025px) {
			margin-left: var(--offset-xl);
			width: calc(50% - var(--offset-xl));
		}

		@media(min-width: 1201px) {
			width: calc(33.3333% - var(--offset-xl));
		}
	}
}

.metric-reviews {
	display: flex;
	align-items: center;
	// .metric-reviews__num

	&__num {
		flex-shrink: 0;
		margin-right: var(--offset-m);
		width: 68px;
		height: 68px;
		border-radius: 50%;
		border: 1px solid var(--green);
		display: grid;
		place-items: center;
		@extend %museo-700;
		font-size: 20px;
	}

	// .metric-reviews__content

	&__content {
		@include row-grid(var(--offset-xxxs));
		justify-items: start;
	}

	// .metric-reviews__title

	&__title {
		@extend %museo-700;
		font-size: 20px;
		white-space: nowrap;
	}

	// .metric-reviews__descr

	&__descr {
		@extend %museo-300;
	}
}
