.worth-try-section {

    // .worth-try-section__row

    &__row {
        display: grid;

        @media(min-width: 768px) {
            gap: 44px;
        }

        @media(min-width: 1025px) {
            grid-template-columns: 1fr 357px 1fr;
            grid-template-areas: 'contentLeft img contentRight';
            align-content: start;
            align-items: flex-start;
        }
    }

    // .worth-try-section__content

    &__content {
        @include row-grid(var(--offset-xl));

        @media(max-width: $md) {
            row-gap: var(--offset-m);
        }

        &--left {
            @media(min-width: 1025px) {
                grid-area: contentLeft;
            }
        }

        &--right {
            @media(min-width: 1025px) {
                grid-area: contentRight;
            }
        }
    }

    // .worth-try-section__img

    &__img {
        @media(min-width: 1025px) {
            grid-area: img;
        }

        /* @media(max-width: $sm) {
            position: relative;
            padding-bottom: 79.304%;
        } */
    }
}
