.success-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	// .success-block__img

	&__img {
		width: var(--section-padding-xs);
		height: var(--section-padding-xs);
		margin-bottom: var(--offset-l);
	}

	// .success-block__title

	&__title {
		&:not(:last-child) {
			margin-bottom: var(--offset-xs);

			@media(max-width: $sm) {
				margin-bottom: var(--offset-m);
			}
		}
	}

	// .success-block__text

	&__text {
		max-width: 655px;

		@media(max-width: $sm) {
			text-align: left;
		}

		span {
			@extend %museo-700;
		}

		>* {
			&:not(:last-child) {
				margin-bottom: var(--offset-l);
			}
		}
	}
}
