.certificate-content {
    display: flex;
    flex-direction: column;

    @media (min-width: 1201px) {
        max-width: 877px;
    }

    &__section {
        @include row-grid(var(--offset-xl));
        padding-bottom: var(--section-padding-xs);

        @media(max-width: $lg) {
            row-gap: var(--offset-xl);
            padding-bottom: var(--offset-xxxl);
        }
    }

    &__subsection {
        @include row-grid(var(--offset-s));

        @media(max-width: $lg) {}
    }

    &__subsection-title {
        font-size: 24px;
        margin-bottom: var(--offset-xxs);
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
        gap: var(--offset-l) var(--offset-ls);
    }

    .combo-block {
        @media(max-width: $ms) {
            order: -1;
        }
    }
}
