.footer {
	@media(max-width: $lg) {
		padding-bottom: var(--bottom-bar-height);
	}

	&__body {
		padding-bottom: 60px;

		@media(max-width: $ms) {
			align-items: center;
			padding-bottom: var(--offset-l);
		}
	}

	// .footer__row

	&__row {
		display: grid;
		gap: calc(54.75 / 1440 * 100%);

		@media(max-width: 1440px) {
			gap: var(--offset-l);
		}

		@media (min-width: $md) {
			grid-template-areas:
				'info info info info menu menu catalog catalog'
				'address address address address contacts contacts contacts contacts'
			;
			grid-template-columns: repeat(8, 1fr);
		}

		@media(min-width: $xxxl) {
			grid-template-areas: 'info menu catalog address contacts';
			grid-template-columns: calc(274 / 1440 * 100%) minmax(calc(216 / 1440 * 100%), 1fr) minmax(calc(190 / 1440 * 100%), 1fr) calc(277 / 1440 * 100%) auto;
		}
	}

	// .footer__col

	&__col {
		@include row-grid(var(--offset-l));
		align-content: start;

		@media (min-width: $md) and (max-width: $xxl) {
			grid-column: span 2;
		}

		@media(max-width: $ms) {
			justify-items: center;
		}

		&:first-child {
			@media(min-width: $xxxl) {
				row-gap: 51px;
			}
		}

		&--catalog,
		&--contacts {
			display: none;

			@media(min-width: $md) {
				display: grid;
			}
		}

		&--info {
			@media(min-width: $md) {
				grid-area: info;
			}
		}

		&--catalog {
			@media(min-width: $md) {
				grid-area: catalog;
			}
		}

		&--menu {
			@media(min-width: $md) {
				grid-area: menu;
			}
		}

		&--address {
			@media(min-width: $md) {
				grid-area: address;
			}
		}

		&--contacts {
			@media(min-width: $md) {
				grid-area: contacts;
			}
		}
	}

	// .footer__logo

	&__logo {
		max-width: 238px;
		height: 32px;

		@media(max-width: $xxl) {
			width: 214px;
			height: 28px;
		}
	}

	&__social {
		@media(min-width: $md) {
			margin-left: -14px;
		}
	}

	// .footer__info

	&__info {
		@include row-grid(var(--offset-l));

		@media(min-width: $xxxl) {
			margin-top: auto;
		}

		@media(max-width: $ms) {
			justify-items: center;
		}
	}

	// .footer__info-text

	&__info-text {
		@include row-grid(var(--offset-xxs));

		@media(max-width: $ms) {
			text-align: center;
			justify-items: center;
		}
	}

	// .footer__rating

	&__rating {
		align-items: flex-start;
		flex-direction: column;
		@include row-grid(var(--offset-xxxs));

		@media(max-width: $ms) {
			align-items: center;
		}
	}

	// .footer__title

	&__title {
		display: none;

		@media(min-width: $md) {
			display: block;
			font-size: 20px;
			text-transform: uppercase;
		}
	}

	// .footer__menu

	&__menu {
		@include margin-y(calc(var(--offset-xxs) * (-1)));

		@media(max-width: $ms) {
			text-align: center;
			justify-self: stretch;
		}
	}

	&__menu-link {
		display: flex;
		padding: var(--offset-xxs) 0;

		@media(max-width: $ms) {
			justify-content: center;
		}
	}

	// .footer__address-items

	&__address-items {
		@include row-grid(var(--offset-m));

		@media(max-width: $ms) {
			justify-items: center;
		}
	}

	&__address-item {
		display: flex;
		flex-direction: column;

		@media(max-width: $ms) {
			text-align: center;
			align-items: center;
		}
	}

	// .footer__btn

	&__btn {
		display: none;

		@media(min-width: $md) {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-top: auto;
		}
	}

	// .footer__payment

	&__payment {
		@include padding-y(var(--offset-xxs));
		background-color: var(--gray);
	}

	// .footer__payment-list

	&__payment-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		>* {
			display: inline-flex;
			align-items: center;
			margin: var(--offset-xxxs) var(--offset-xxs);

			@media(max-width: $ms) {
				@include margin-x(var(--offset-xs));
				min-width: 48px;
				max-width: calc(25% - var(--offset-xs) * 2);
			}
		}
	}
}
