.become-partner {
	@media(min-width: $xl) {
		background-image: url(../images/decor/contacts-bg.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	@media(max-width: $lg) {
		padding-bottom: 0;
	}

	// .become-partner__inner

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--offset-xxxl);

		@media(max-width: $lg) {
			grid-template-columns: var(--container-padding) 1fr var(--container-padding);
			gap: var(--offset-xxl) 0;
		}
	}

	// .become-partner__content

	&__content {
		@include row-grid(var(--offset-xxls));
		justify-items: start;

		@media(max-width: $lg) {
			grid-column: 2 / 3;
		}

		@media(max-width: $ms) {
			row-gap: var(--offset-l);
		}
	}

	&__title {
		@media(min-width: $md) {
			margin-bottom: calc(var(--offset-sm) * (-1));
		}
	}

	&__btn {
		@media(max-width: $sm) {
			width: 100%;
		}
	}

	// .become-partner__map

	&__map {
		@media(max-width: $lg) {
			grid-column: 1 / -1;
		}
	}
}
