.catalog-filters {
    $this: &;

    position: relative;
    z-index: 20;

    &--banner {
        margin-top: calc(var(--section-padding-xs) * (-1));
    }

    &.fixed {
        @media(max-width: $xl) {
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 101;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding: 0 0 50px 0;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            transition: $transition left;

            &.active {
                left: 0;
            }

            #{$this} {
                &__back-btn {
                    display: flex;
                }

                &__radios {
                    @include margin-x(20px);
                }

                &__radio {
                    &:first-child {
                        .radio {
                            &__content {
                                border-radius: $brs-xl $brs-xl 0 0;
                            }
                        }
                    }

                    &:last-child {
                        .radio {
                            &__content {
                                border-radius: $brs-xl $brs-xl 0 0;
                            }
                        }
                    }
                }

                &__row {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    filter: none;
                    @include padding-x(20px);

                    > .select {
                        .select {
                            &__title {
                                padding-left: 0;

                                &:after {
                                    right: 0;
                                }
                            }

                            &__content {
                                padding-bottom: 20px;
                            }

                            &__label {
                                padding-left: 0;
                            }
                        }
                    }
                }

                &__btn {
                    margin-top: auto;
                    @include margin-x(calc(var(--offset-xxxs) * (-1)));
                }
            }

            .dropdown-filter {
                padding: 0 0 var(--offset-m) 0;
            }

            .catalog-filter {
                &__btn {
                    min-height: var(--offset-xxxl);
                    box-shadow: none;
                    padding-left: 0;

                    &:after {
                        right: 0;
                    }
                }
            }

            .radio {
                &--style {
                    &_filter {
                        .radio {
                            &__content {
                                justify-content: center;
                                background-color: #fff;
                                padding: var(--offset-s);
                                border-bottom: 2px solid var(--green);
                                box-shadow: none;
                                //box-shadow: 0 -15px 30px rgba(0, 0, 0, 0.08);
                                backdrop-filter: none;

                                &:after {
                                    display: none;
                                }
                            }

                            &__icon {
                                display: none;
                            }

                            &-text {
                                position: relative;
                                padding-left: 34px;
                                font-family: 'Museo Sans Cyrl 300',
                                    sans-serif;
                                font-weight: 300;

                                &::before,
                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }

                                &:before {
                                    left: 0;
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                    border: 2px solid var(--text-color);
                                }

                                &:after {
                                    left: var(--offset-xxxs);
                                    width: var(--offset-xs);
                                    height: var(--offset-xs);
                                    border-radius: 50%;
                                    background-color: #fff;
                                    opacity: 0;
                                    transition: $transition background-color,
                                        $transition opacity;
                                }
                            }

                            &-input {
                                &:checked ~ {
                                    .radio {
                                        &__content {
                                            background-color: var(--green);
                                            box-shadow: 0 -15px 30px rgba(0, 0, 0, 0.08);

                                            .radio {
                                                &-text {
                                                    font-family: 'Museo Sans Cyrl 500',
                                                        sans-serif;
                                                    font-weight: 500;
                                                    color: #fff;

                                                    &::before {
                                                        border-color: #fff;
                                                    }

                                                    &::after {
                                                        opacity: 1;
                                                        background-color: #fff;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__back-btn {
        @extend %museo-700;
        position: relative;
        padding: 30px 20px var(--offset-l) var(--offset-xxls);
        font-size: 24px;
        line-height: 1.5;
        color: $color-default;
        display: none;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            width: var(--icon-size);
            height: var(--icon-size);
            background-image: url(../images/icons/back.svg);
        }
    }

    // .catalog-filters__radios

    &__radios {
        display: flex;
    }

    // .catalog-filters__radio

    &__radio {
        min-width: 224px;

        @media(max-width: $lg) {
            min-width: 50%;
        }

        &:first-child {
            .radio {
                &__content {
                    border-radius: $brs-xl 0 0 0;
                }
            }
        }

        &:last-child {
            .radio {
                &__content {
                    border-radius: 0 $brs-xl 0 0;
                }
            }
        }
    }

    &__select {
        .select {
            &__title {
                @media(min-width: 1201px) {
                    height: 100%;
                }

                @media(max-width: $xl) {
                    min-height: var(--offset-xxls);

                    &:after {
                        top: 18px;
                    }
                }

                &[aria-expanded="true"] {
                    border-color: #fff;
                }
            }

            &__content {
                @media(max-width: $xl) {
                    position: static;
                    border-radius: 0;
                    box-shadow: none;
                    padding-top: 0;
                }
            }
        }
    }

    // .catalog-filters__row

    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr) auto;
        filter: drop-shadow(0 3px 10px rgba(63, 63, 63, 0.1));

        @media(max-width: 1440px) {
            grid-template-columns: unset;
            grid-auto-columns: minmax(143px, max-content) 1fr;
            grid-auto-flow: column;
            gap: 2px;
        }

        @media(max-width: $xl) {
            gap: 0;
            grid-auto-columns: unset;
            grid-auto-flow: row;
            grid-auto-rows: minmax(var(--offset-xxls), max-content);
        }

        /* .select {
            &__content {
                @media(max-width: $xl) {
                    padding-top: 0;
                }
            }
        } */
    }

    // .catalog-filters__item

    &__item {
        position: relative;
    }

    // .catalog-filters__btn

    &__btn {
        border-top-left-radius: 0;

        @media(min-width: 1201px) {
            border-bottom-left-radius: 0;
        }

        @media(max-width: $xl) {
            border-top-left-radius: $brs;
        }
    }
}

.catalog-filter {
    // .catalog-filter__btn

    &__btn {
        @extend %museo-500;
        font-size: 16px;
        line-height: 1.5;
        position: relative;
        padding-left: var(--offset-m);
        padding-right: var(--offset-xxl);
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
        background-color: #fff;
        border: 1px solid #fff;
        color: $color-default;
        transition: $transition box-shadow,
            $transition border-color;

        @media(max-width: $xl) {
            min-height: 60px;
            border-top: 1px solid var(--gray);
        }

        @media(min-width: 1201px) {
            border-left-color: #F6F6F6;
            height: var(--section-padding-xs);
        }

        &::after {
            content: "";
            position: absolute;
            top: calc(50% - var(--icon-size) / 2);
            right: var(--offset-m);
            width: var(--icon-size);
            height: var(--icon-size);
            background-image: url(../images/icons/drop-arrow.svg);
            transition: $transition transform;
        }

        @media (any-hover: hover) {
            &:hover {
                box-shadow: $bsh;
            }
        }

        /* &[aria-expanded="true"] {
            @media(max-width: $xl) {
                border-color: var(--green);
            }
        } */

        span {
            padding: 0 2px;
        }
    }

    // .catalog-filter__dropdown

    &__dropdown {
        display: none;

        @media(min-width: 1201px) {
            width: max-content;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
        }
    }
}

.dropdown-filter {
    background-color: #fff;
    padding: var(--offset-l);

    @media(max-width: $lg) {
        padding: 0 var(--offset-m) var(--offset-m) var(--offset-m);
    }

    @media(min-width: 1201px) {
        border-radius: $brs;
        box-shadow: $bsh;
    }

    &__inner {
        @include row-grid(var(--offset-l));
    }

    // .dropdown-filter__row

    &__row {
        @media(min-width: 1201px) {
            display: flex;
        }
    }

    // .dropdown-filter__col

    &__col {
        @include row-grid(var(--offset-m));
        align-content: start;

        @media(max-width: $md) {
            gap: var(--offset-s);
        }

        &--cols {
            // .dropdown-filter__col--cols_2

            &_2 {
                @media(min-width: 768px) {
                    gap: var(--offset-m);
                    grid-template-columns: repeat(2, auto);
                }

                @media(min-width: 1201px) {
                    gap: var(--offset-l);
                }
            }
        }
    }

    // .dropdown-filter__col-item

    &__col-item {
        @include row-grid(var(--offset-s));
    }

    &__col + &__col {
        @media(min-width: 1201px) {
            padding-left: var(--offset-xl);
            margin-left: var(--offset-xl);
            border-left: 1px solid #D5D5D5;
        }

        @media(max-width: $xl) {
            margin-top: 22px;
            padding-top: 22px;
            border-top: 1px solid #D5D5D5;
        }
    }
}

.reset-btn {
    $this: &;

    display: inline-flex;
    align-items: center;
    // .reset-btn__icon

    &__icon {
        flex-shrink: 0;
        margin-right: 14px;
        width: var(--icon-size);
        height: var(--icon-size);
        stroke: var(--green);
        transition: $transition stroke;
    }

    // .reset-btn__text

    &__text {
        font-family: $ff;
        font-size: 16px;
        color: var(--green);
        transition: $transition color;
    }

    @media (any-hover: hover) {
        &:hover {
            #{$this} {
                &__icon {
                    stroke: var(--pink);
                }

                &__text {
                    color: var(--pink);
                }
            }
        }
    }
}

.price-filter {
    @media(min-width: 1201px) {
        width: 350px;
    }

    // .price-filter__items

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--offset-l);

        @media(max-width: $sm) {
            gap: var(--offset-m);
        }
    }

    // .price-filter__item

    &__item {
        @include row-grid(var(--offset-s));
    }
}
