.rating {
	$this: &;

	display: flex;
	flex-wrap: wrap;

	&.mob-hidden {
		@media(max-width: $md) {
			display: none;
		}
	}

	&--reverse {
		align-items: center;

		#{$this} {
			&__num {
				order: 1;
			}

			&__stars {
				order: 2;
				margin-left: 10px;
				margin-right: var(--offset-l);
			}
		}

		.menu-link {
			order: 3;
		}
	}

	//align-items: center;
	// .rating__stars

	&__stars {
		@include grid-row(4px);
		align-content: center;
	}

	// .rating__star

	&__star {
		display: inline-flex;
		align-items: center;
		width: 19px;
		height: 18px;
		background-image: url(../images/icons/star.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		/* font-size: 18px;

		.icon {
			fill: #FAD245;
			stroke: none;
		} */
	}

	&__num {
		@extend %museo-700;
		font-size: 20px;
		margin-left: 10px;
	}

	&.mob-hidden {
		@media(max-width: $md) {
			display: none;
		}
	}
}

.mob-rating {
	@extend %museo-700;
	display: none;
	position: absolute;
	z-index: 2;
	padding: var(--offset-xxxs) var(--offset-xxs) 1px var(--offset-xxs);
	background: var(--white-70);
	backdrop-filter: blur(2px);
	border-radius: $brs-xxs;

	@media(max-width: $md) {
		display: inline-block;
	}

	&__num {
		position: relative;
		padding-left: 20px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: var(--offset-s);
			height: var(--offset-s);
			background-image: url(../images/icons/black-star.svg);
		}
	}
}
