.corporate-certificates {

    // .corporate-certificates__inner

    &__inner {
        padding-bottom: var(--offset-xl);

        @media(max-width: $md) {
            padding-bottom: var(--offset-xls);
        }

        @media(max-width: $lg) {
            @include row-grid(var(--offset-l));
        }

        @media(min-width: 1025px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    // .corporate-certificates__text

    &__text {
        @media(min-width: 1025px) {
            max-width: 827px;
            padding-right: 75px;
        }
    }

    // .corporate-certificates__row

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: -20px -35px;
    }

    // .corporate-certificates__col

    &__col {
        @include row-grid(var(--offset-xl));
        padding: 20px 35px;

        @media(min-width: 768px) {
            width: 50%;
        }
    }

    &__item {
        //align-items: flex-start;

        @media(max-width: $md) {
            flex-direction: column;
            align-items: center;

            .icons-item {
                &__icon {
                    margin-bottom: var(--offset-m);

                    @media(max-width: $md) {
                        margin-right: 0;
                    }
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }
}
