.corporate-certificates {
    @media(max-width: 1201px) {
        padding-bottom: 0;
    }

    // .corporate-certificates__inner

    &__inner {
        padding-bottom: var(--offset-xl);

        @media(max-width: $ms) {
            padding-bottom: var(--offset-xls);
        }

        @media(max-width: $lg) {
            @include row-grid(var(--offset-l));
        }

        @media(min-width: $xl) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__img {
        @media(min-width: $xl) {
            flex: 0 0 609px;
        }
    }

    // .corporate-certificates__text

    &__text {
        @media(min-width: $xl) {
            padding-right: 75px;
        }
    }

    // .corporate-certificates__row

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: calc(var(--offset-sm) * (-1)) -35px;
    }

    // .corporate-certificates__col

    &__col {
        @include row-grid(var(--offset-xl));
        padding: var(--offset-sm) 35px;

        @media(min-width: $xl) {
            width: 50%;
        }
    }

    &__item {
        //align-items: flex-start;

        @media(max-width: $ms) {
            flex-direction: column;
            align-items: center;

            .icons-item {
                &__icon {
                    margin-bottom: var(--offset-m);

                    @media(max-width: $ms) {
                        margin-right: 0;
                    }
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }
}
