.catalog-certificate-section {
    padding-top: 116px;

    @media(max-width: $lg) {
        padding-top: var(--offset-xxxl);
    }

    // .catalog-certificate-section__row

    &__row {
        display: grid;
        gap: var(--offset-xl);

        @media(max-width: $md) {
            gap: var(--offset-l);
        }

        @media(min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(min-width: 1201px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    // .catalog-certificate-section__col

    &__col {
        p {
            &:not(:last-child) {
                margin-bottom: var(--offset-l);

                @media(max-width: $sm) {
                    margin-bottom: var(--offset-s);
                }
            }
        }

        &:last-child {
            @media(min-width: 768px) and (max-width: $xl) {
                grid-column: span 2;
            }
        }
    }
}
