.menu-btn {
    $this: &;

    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    transition: var(--transition) all;

    @media(max-width: $lg) {
        padding: var(--offset-xxxs);
        margin-left: calc(var(--offset-xxxs) * (-1));
    }

    &[aria-expanded="true"] {
        @media(max-width: $md) {
            background-image: url(../images/icons/close.svg);
            background-position: center;
            background-repeat: no-repeat;

            #{$this} {
                &__icon {
                    opacity: 0;
                }
            }
        }
    }

    // .menu-btn__icon

    &__icon {
        display: inline-flex;
        align-items: center;
        margin-right: var(--offset-xs);
        fill: var(--pink);
        stroke: none;
        transition: var(--transition) opacity;

        @media(max-width: $lg) {
            margin-right: 0;
        }
    }

    // .menu-btn__text

    &__text {
        font-size: 16px;
        line-height: 1.5;
        transition: var(--transition) color;

        @media(max-width: $lg) {
            display: none;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            #{$this}__text {
                color: var(--pink);
            }
        }
    }
}
