.delivery-block {

    // .delivery-block__tabs

    &__tabs {
        margin-bottom: var(--section-padding-xs);

        @media(max-width: $lg) {
            display: none;
        }

        .tabs__list {
            @media(min-width: 1201px) {
                width: 100%;
                justify-content: space-between;
            }
        }
    }

    &__body {
        @media(max-width: $lg) {
            @include row-grid(var(--offset-xxxl));
        }
    }

    // .delivery-block__content

    &__content {
        @include row-grid(var(--offset-xl));
        justify-items: start;

        @media(max-width: $lg) {
            row-gap: var(--offset-l);
        }

        &:not(:last-child) {
            @media(max-width: $lg) {
                margin-bottom: var(--offset-l);
            }
        }
    }

    &__cards {
        justify-self: stretch;
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: var(--offset-sm);
        }
    }

    &__map {
        padding-bottom: 80.488%;

        @media(max-width: $md) {
            padding-bottom: 75.805%;
        }
    }

    .section-inner {
        @media(max-width: $lg) {
            align-items: stretch;
        }
    }
}
