.reviews-slider {
	@media(min-width: $xxxl) {
		@include padding-x(var(--offset-xxls));
	}

	.swiper-slide {
		@media(max-width: $lg) {
			opacity: 0.5;
			transition: var(--transition) opacity;
		}
	}

	.swiper-slide-active {
		@media(max-width: $lg) {
			opacity: 1;
		}
	}
}
