$container: 1440;

:root {
    // colors (pallette)
    --black: #000;
    --white: #fff;  
    --pink: #F395A9;
    --pink-hover: #E6859A;
    --pink-pressed: #EDA2B2;
    --pink-light: #F6DFE3;
    --pink-disabled: #F6DFE3;
    --pink-gradient: linear-gradient(90deg, #FCF6F6 0%, #FFF3F4 100%);
    --yellow: #EEF651;
    --yellow-hover: #E4ED36;
    --yellow-pressed: #F0F592;
    --yellow-light: #FDFFC7;
    --yellow-gradient: linear-gradient(90deg, #FDFBF6 0%, #F9F4E6 100%), #FFF;
    --green: #258884;
    --green-hover: #1F6F6C;
    --green-pressed: #369A96;
    --green-disabled: #D7EDEC;
    --green-gradient: linear-gradient(90deg, #F2FBFB 0%, #E8F7F7 100%), linear-gradient(90deg, #FDFBF6 0%, #F9F4E6 100%), #FFF;
    --blue: #D7EDEC;
    --dark-blue: #1F5469;
    --green-light: #F5F8F8;
    --dark: #1E1E1E;
    --text-color: #535353;
    --text-color-light: #656565;
    --gray: #F6F6F6;
    --light-gray: #d7dded;
    --red: #e73656;
    --attention: rgba(255, 40, 40, 0.1);
    --line-color: #BDBDBD;
    --light-blue: #ecf1ff;
    --white-70: rgba(255, 255, 255, 0.7);

    // container
    --container-width: #{$container}px;
    --container-width_xs: 800px;
    --container-padding: 40px;

    // header
    --header-height: 140px;
    --header-height-mob: 59px;

    --section-padding-xs: 80px;
    --section-padding: 100px;
    --section-padding-xl: 120px;
    --section-padding-xxl: 140px;
	--bottom-bar-height: 62px;

	--page-decor-w: 1026px;
	--page-decor-h: 707px;

	// offsets (gaps)
	--offset-xxxl: 64px;
	--offset-xxls: 60px;
	--offset-xxl: 56px;
	--offset-xls: 48px;
	--offset-xl: 40px;
	--offset-ls: 36px;
	--offset-l: 32px;
	--offset-m: 24px;
	--offset-sm: 20px;
	--offset-s: 16px;
	--offset-xs: 12px;
	--offset-x: 10px;
	--offset-xxs: 8px;
	--offset-xxxs: 4px;

    // icon sizes
    --icon-size_s: 20px;
    --icon-size: 24px;
    --icon-size_l: 32px;

    // border-radius
    --brs-xxs: 4px;
    --brs-xs: 6px;
    --brs: 8px;
    --brs-card: 10px;
    --brs-xl: 12px;
    --brs-card-xl: 20px;

    // box-shadow
    --bsh: 0 3px 10px rgba(63, 63, 63, 0.1);
    --bsh-2: 0 0 30px rgba(0, 0, 0, 0.08);
    --bsh-3: 0 2px 10px rgba(145, 145, 145, 0.18);
    --bsh-4: 0 4px 4px rgba(0, 0, 0, 0.25);
    --bsh-5: 0 0 20px rgba(199, 199, 199, 0.25);

    //transition
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 0.3s;
    --duration--long: 1s;
    --delay: var(--duration);
    --transition: var(--duration) var(--transition-timing);
    --transition-long: var(--duration--long) var(--transition-timing);

    // typography
    --font-size: 16px;
    --main-font: 'Museo Sans Cyrl 500', sans-serif;
    --color-default: var(--dark);
    --border: 1px solid var(--line-color);

    @media(max-width: $xxl) {
        --container-padding: 16px;
    }
}
